1) store marks of 5 subjects
	here use marks as actual data and subject names as indexes.
accept both marks and subjects from the user.

2) create dictionary to store player name and runs scored of at least 5 players. Display it. Now convert this dictionary ‌into Series object and print it.

3) accept 10 values and store them in the Series. Now perform following operations:

		a) display the entire Series
		b) extract 3rd element
		c) extract elements from 4 to 7
		d) extract elements from fourth last till the last element
		e) extract first 3 elements
		f) extract elements from the 5th position


4) accept 5 values in a Series and perform the following operations:

		a) display their sum
		b) add the value accepted from the user
		c) subtract the value accepted from the user
		d) multiply the value accepted from the user
		e) add the value accepted from the user



**********  DataFrame Assignments ************************************

5) accept 5 names,designations and salaries and display them with DataFrame.

6) create a csv file (with whatever columns and rows you want) manually and then read using pandas.

7) create "Vita.xlsx" using pandas. In this Excel file you have to create 2 sheets "DBDA", and "DAC". 
in each sheet you have to write name,address and age of all the team leaders.
make sure Excel file gets created successfully.

1) store marks of 5 subjects
	here use marks as actual data and subject names as indexes.
accept both marks and subjects from the user.

In [1]:
import pandas as pd

marks_dict = {}

for _ in range(5):
    subject = input("Enter Subject name --> ")
    marks = int(input(f"Enter Marks for Subject name {subject} --> "))
    marks_dict[subject] = marks

df = pd.DataFrame(list(marks_dict.items()), columns=['Subject', 'Marks'])

print(df.index)

ValueError: invalid literal for int() with base 10: ''

2) create dictionary to store player name and runs scored of at least 5 players. Display it. Now convert this dictionary ‌into Series object and print it.

In [3]:
player = {}

for _ in range(5):
    name = input("Enter Name of Player --> ")
    runs = int(input(f"Enter runs scored by {name}--> "))
    player[name] = runs

plyr = pd.Series(player)

print(plyr)

Pranay       100
Hemant       100
Bhupendra    100
Pratik       100
Yash         100
dtype: int64

3) accept 10 values and store them in the Series. Now perform following operations:

In [4]:
values = []

for i in range(10):
    user = int(input(f"Enter {i} values --> "))
    values.append(user)

vls = pd.Series(values)

print(vls)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64


f) extract elements from the 5th position

In [5]:
# b) extract 3rd element
print(vls[2:3])

2    30
dtype: int64

In [6]:
# c) extract elements from 4 to 7
vls[4:8]

4    50
5    60
6    70
7    80
dtype: int64

In [7]:
# d) extract elements from fourth last till the last element
vls[4:]

4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [8]:
# e) extract first 3 elements
vls[:3]

0    10
1    20
2    30
dtype: int64


4) accept 5 values in a Series and perform the following operations:

		a) display their sum
		b) add the value accepted from the user
		c) subtract the value accepted from the user
		d) multiply the value accepted from the user
		e) add the value accepted from the user

In [11]:
# Accepting 5 values 

ser = []

for i in range(5):
    user = int(input(f"Enter {i} value ---> "))
    ser.append(user)

series = pd.Series(ser)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [16]:
#a) display their sum

series.sum()

150

In [20]:
# 		b) add the value accepted from the user

user = int(input("Enter a value to add into series --> "))

series = series + user

print(series)

0    20
1    30
2    40
3    50
4    60
dtype: int64

In [21]:
# 		b) subtract the value accepted from the user

user = int(input("Enter a value to add into series --> "))

series = series - user

print(series)

0    15
1    25
2    35
3    45
4    55
dtype: int64

In [22]:
#d) multiply the value accepted from the user

user = int(input("Enter a value to add into series --> "))

series = series * user

print(series)

0    150
1    250
2    350
3    450
4    550
dtype: int64


**********  DataFrame Assignments ************************************

5) accept 5 names,designations and salaries and display them with DataFrame.

6) create a csv file (with whatever columns and rows you want) manually and then read using pandas.

7) create "Vita.xlsx" using pandas. In this Excel file you have to create 2 sheets "DBDA", and "DAC". 
in each sheet you have to write name,address and age of all the team leaders.
make sure Excel file gets created successfully.

In [24]:
# 5) accept 5 names,designations and salaries and display them with DataFrame.

name = []
des = []
sal = []

for i in range(5):
    n = input("Enter name-->")
    d = input(f"Enter designation for {n}--->")
    s = int(input(f"Enter Salary for {n} --->"))

    name.append(n)
    des.append(d)
    sal.append(s)

data = {
    'Name':name, 
    "Designation":des,
    "Salary in $ mio": sal
}

df = pd.DataFrame(data)

print(df)

            Name        Designation  Salary in $ mio
0         Pranay  MD & Board Member               20
1    Pranay Shah          CEO & CTO               10
2  Pranay B Shah               COO                 5
3  Pranay B Shah            Founder                6
4  Pranay B Shah   Co-Founder & CTO               12

In [26]:
#6) create a csv file (with whatever columns and rows you want) manually and then read using pandas.

df.to_csv("Positions.csv", index = False)

data = pd.read_csv("Positions.csv")

print(data)

            Name        Designation  Salary in $ mio
0         Pranay  MD & Board Member               20
1    Pranay Shah          CEO & CTO               10
2  Pranay B Shah               COO                 5
3  Pranay B Shah            Founder                6
4  Pranay B Shah   Co-Founder & CTO               12

In [27]:
"""
7) create "Vita.xlsx" using pandas. In this Excel file you have to create 2 sheets "DBDA", and "DAC". 
in each sheet you have to write name,address and age of all the team leaders.
make sure Excel file gets created successfully."""

import pandas as pd

dbda_data = {
    'Name': ['Pranay', 'Hemant'],
    'Address': ['Kalyan', 'Mumbai Central'],
    'Age': [23, 24]
}

dac_data = {
    'Name': ['Saurabh', 'Pratik'],
    'Address': ['Badlapur / Bandra', 'Ghansoli'],
    'Age': [27, 23]
}

df_dbda = pd.DataFrame(dbda_data)
df_dac = pd.DataFrame(dac_data)

with pd.ExcelWriter('Vita.xlsx') as writer:
    df_dbda.to_excel(writer, sheet_name='DBDA', index=False)
    df_dac.to_excel(writer, sheet_name='DAC', index=False)