# **Day 1**

### Example 1

- ord 
- chr

In [2]:
x=int(input("enter number"))
print(x,"\t",type(x))
y=float(input("enter percentage"))
print(y,"\t",type(y))
z=bool(input("enter True or False"))
print(z,"\t",type(z))

10 	 <class 'int'>
12.0 	 <class 'float'>
True 	 <class 'bool'>

In [3]:
var1 = 5
print(var1)
print(type(var1))

# convert int to float

var2 = float(var1)
print(var2)
print(type(var2))

5
<class 'int'>
5.0
<class 'float'>

In [4]:
#x=0
x=3
x=bool(x)
print(x)

True

In [5]:
num1=5.6
print(num1)
print(type(num1))
num1=int(num1)
print(num1)
print(type(num1))

5.6
<class 'float'>
5
<class 'int'>

In [6]:
var1=True
print(var1)
print(type(var1))

var2 = int(var1)
print(var2)
print(type(var2))


var3=False
print(var3)
print(type(var3))

var4 = int(var3)
print(var4)
print(type(var4))

True
<class 'bool'>
1
<class 'int'>
False
<class 'bool'>
0
<class 'int'>

In [7]:
# character to ascii
ch='A'
print(ch)
print(ord(ch))

# ascii to character
num=100
print(num)
print(chr(num))

A
65
100
d

In [8]:
a=100
print(a)
print("The number is",a)
print("The datatype of a is",type(a))

100
The number is 100
The datatype of a is <class 'int'>

In [9]:
b=5.6
print(b)
print("The number is",b)
print("The datatype of a is",type(b))
b=10.2  # Previous object will be GC

5.6
The number is 5.6
The datatype of a is <class 'float'>

In [10]:
c="Hello"
print(c)
print("The value is",c)
print("The datatype of a is",type(c))

Hello
The value is Hello
The datatype of a is <class 'str'>

- Exceptions 
    - ValueError
    - TypeError

In [ ]:
a=int("345")
print(a)

# Trying to convert a string that contains non-numeric
# characters to an integer or float will raise a ValueError.
# k=int("abc")  # Raises ValueError
# print(k)

# Attempting to convert a list or dictionary
# directly to an integer or float will raise a TypeError.


# TypeError: int() argument must be a string,
# a bytes-like object or a real number, not 'list'
# p=int([10,20,30])
# print(p)

# Converting a complex number directly to an integer
# or float is not possible; you need to extract the
# real or imaginary part.

# int(3 + 4j)  # Raises TypeError

# Trying to convert incompatible data structures
# (like a set to a dictionary) will not work and
# will raise a TypeError.

# dict({1, 2, 3})  # Raises TypeError

# If you have a custom object and it doesn't implement
# methods like __int__, __float__, or __str__,
# converting it to those types will raise a TypeError.


"""
class MyClass:
    pass    # Helps generate Empty class
int(MyClass())  # Raises TypeError

"""
# Then how do we make it possible to convert
# MyClass to int?

class MyClass:
    def __init__(self, value):
        self.value = value  # Store an integer value

    def __int__(self):
        return self.value  # Convert to int


obj = MyClass(42)
result = int(obj)  # it'll work and return 42
print(result)  # 42

## **Complex Info**

In [16]:
complex() #function
	# is used to convert number or string to complex number.

complex() #takes two argument
	# real
	# imaginary

# both these arguments are optional, by default value is 0.

# e.g.

print(complex())

# 	will print 0j

# these arguments can be int or float or string

# But string should have a valid number.


print(complex(0))      #  0j
print(complex(3,0))   #  (3+0j)
print(complex(0,9))   #  9j
print(complex(4,5))   #  (4+5j)
print(complex("4"))   #  (4+0j)
print(complex("k"))   #   ValueError: complex() arg is a malformed string

0j
0j
(3+0j)
9j
(4+5j)
(4+0j)

ValueError: complex() arg is a malformed string

In [12]:
var1= 5 +8j
print(var1)
print(type(var1))

(5+8j)
<class 'complex'>

In [13]:
num1= 5+3j
print(num1)
print(type(num1))

num2= 3.4 -5.6j
print(num2)
print(type(num2))

num3 = 5+7.8j
print(num3)
print(type(num3))

""" num4= "hello"+4j
print(num4)
print(type(num4)) """

#  How to access "real" and "imaginary" part of the object

print(num3)             # Complex number
print(num3.real)        # real part of the complex number
print(num3.imag)        # imaginary part of the complex number

# How to generate complex number using "complex()" function

num5 = complex(4,5.6)
print(num5)
print(type(num5))

num6=complex()     # What if we don't pass any number?
print(num6)
print(type(num6))

num7=complex(5.6)  # what if we pass only one argument?
print(num7)
print(type(num7))

num8=complex(0,5.6)  # what if we pass first argument as 0 ?
print(num8)
print(type(num8))

num9=complex("123")
print(num9)
print(type(num9))

""" num10=complex("A123")    ValueError: complex() arg is a malformed string   
 """

# num10=complex("23"+8)      # TypeError: can only concatenate str (not "int") to str

# num10=complex(5,"34")     # TypeError: complex() second arg can't be a string

# num10=complex("123","6.8")  # TypeError: complex() can't take second arg if first is a string

(5+3j)
<class 'complex'>
(3.4-5.6j)
<class 'complex'>
(5+7.8j)
<class 'complex'>
(5+7.8j)
5.0
7.8
(4+5.6j)
<class 'complex'>
0j
<class 'complex'>
(5.6+0j)
<class 'complex'>
5.6j
<class 'complex'>
(123+0j)
<class 'complex'>

' num10=complex("A123")    ValueError: complex() arg is a malformed string   \n '

In [14]:

var1 = 5
print(var1)
print(type(var1))

# convert normal number i.e. 5  to complex

var2 = complex(var1)
print(var2)
print(type(var2))

# pass 2 parameters in order to convert normal number to complex number

var3= 9
var4= complex(var1,var3)
print(var4)
print(type(var4))

5
<class 'int'>
(5+0j)
<class 'complex'>
(5+9j)
<class 'complex'>

## **Operators_demos**

In [17]:
a=65
b=20
print("Addition is", a+b)
print("Subtraction is", a-b)
print("Multiplication is", a*b)
print("Division is", a/b)
print("Remainder is", a%b)
print("Floor Division is", a//b)

Addition is 85
Subtraction is 45
Multiplication is 1300
Division is 3.25
Remainder is 5
Floor Division is 3

In [18]:
a=6
b=2

a=b
print(a)
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)
a%=b
print(a)
a//=b
print(a)

2
4
2
4
2.0
0.0
0.0

In [19]:
a=6
b=2

if a>10 and b<5:
    print("a is greater than 10 and b is less than 3")
if a>10 or b<5:
    print("either a is greater than 10 or b is less than 5")
print(not a>b)
print(not a<b)

either a is greater than 10 or b is less than 5
False
True

In [20]:
a=65
b=20

if a==b:
    print("a and b are equal")
if a!=b:
    print("a is not equal to b")
if a>b:
    print("a is greater than b")
if a<b:
    print("a is less than b")
if a>=b:
    print("a is greater than equal to b")
if a<=b:
    print("a is less than equal to b")

a is not equal to b
a is greater than b
a is greater than equal to b

### **Identity**

In [29]:
"""
In Python, to write an empty class pass statement is used.
 pass is a special statement in Python that does nothing.
It only works as a dummy statement.
However, objects of an empty class can also be created.
"""

class MyClass:
    pass


m1=MyClass()
m2=MyClass()
print("m1 is m2 :", m1 is m2)
print("m1 is not m2 :" , m1 is not m2)

m2=m1
print("m2=m1")
print("m1 is m2 :", m1 is m2)
print("m1 is not m2 :", m1 is not m2)

# one more example

k=100
print(k)
print("id = Address of k :", id(k))

s=100
print("id (identity) = Address of s :",id(s))

print("k==s :", k==s)
print("k is s : ", k is s)

m1 is m2 : False
m1 is not m2 : True
m2=m1
m1 is m2 : True
m1 is not m2 : False
100
id = Address of k : 140721547431816
id (identity) = Address of s : 140721547431816
k==s : True
k is s :  True

### **Membership**

In [33]:
# with list
list1 = [1, 2, 3, 4, 5, 6, 7]
print(list1)
print("4 in list1 ", 4 in list1)
print("4 not in list1 ", 4 not in list1)
print()

# with dictionary
dict = {1:"first",2:"second"}
print(dict)
print(3 in dict)
print(2 in dict)
print()

# with tuple
tup1 = ('physics', 'chemistry', 1997, 2000)
print(tup1)
print('hello' in tup1)
print('chemistry' not in tup1)
print(1997 in tup1)

[1, 2, 3, 4, 5, 6, 7]
4 in list1  True
4 not in list1  False

{1: 'first', 2: 'second'}
False
True

('physics', 'chemistry', 1997, 2000)
False
False
True

In [34]:
num=5
print(num*2)
print(num**2)  # square of 5
print(num**3)  # cube of 5
print(num**4)

10
25
125
625

## **Accept Input**

In [36]:
name=input("Enter your name")
print("Name entered is\t",name)
age=input("Enter your age")
print("Age entered is\t",age)
# age+=10  #  TypeError: can only concatenate str (not "int") to str
age= int(age)
age+=10
print("Age after 10 years will be\t",age)

Name entered is	 Pranay
Age entered is	 23
Age after 10 years will be	 33

In [37]:
name = (input("Enter you Name :  "))
print(name)
age = int(input("Enter your age : "))
print(age)

age += 10

print(f"Age after 10 years will be {age}")

Pranay
23
Age after 10 years will be 33

## **If_Demos**

ifs

In [38]:
a=0
if a>0:
    print("positive")
elif a<0:
    print("negative")
else:
    print("zero")

zero

In [42]:
a = int(input("Enter a number for a : "))
print("a is ", a)

if a<10:
    print("a is less than 10")
else:
    print("a is greater than or equal to 10")

a is  10
a is greater than or equal to 10

Nested Ifs

In [43]:
num=3

if num > 0:
    if num < 10:
        print("greater than 0 but less than 10")
    else:
        print("greater than 0 and equal to or more than 10")
elif num < 0:
    print("it is negative")
else:
    print("it is zero")

greater than 0 but less than 10

In [51]:
a = (input())

print(a)
match a :
    case 5 :
        print("It is 5 ")
    case 6 :
        print("It is 6 ")
    case _:
        print("Not Desired case / Default case ")

a
Not Desired case / Default case

In [53]:
var1=True
match var1:
    case True:
            print("it's true")
    case False:
            print("it's false")
    case _:
            print("invalid condition")

it's true

In [52]:
var=4.5
match var:
    case 3.4: 
            print("it is 3.4")
    case 4.5:
            print("it is 4.5")
    case _: 
            print("not a valid number")

it is 4.5

In [58]:
ch=(input("Enter a character"))
print(ch)
match ch:
        case 'A':
                print("Vowel A")
        case 'E':
                print("Vowel E")
        case _:
                print("not a vowel")

E
Vowel E

In [57]:
# greet = 'hello'
# greet ="hi"
greet = str(input("Enter a string : "))
print(greet)
match greet:
    case "welcome":
        print("it's welcome")
    case "hello":
        print("it's hello")
    case _:
        print("not a valid greet")

welcome
it's welcome

In [59]:
# 				Java

# public class MyClass 
# {
# 	public static void main(String[] args) {
# 		int x=8,y=5;
# 		System.out.println("Before Swapping\t"+x+"\t"+y);
# 		y=x+y;
# 		x=y-x;
# 		y=y-x;
# 		System.out.println("After Swapping\t"+x+"\t"+y);
# 	}
# }


# 				Python

x, y = 8, 5
print("Before Swapping", x, y)

# First right gets assigned to first left, second right gets assigned to second left, at the same time. 
x, y = y, x     # what happens here is  ....  x,y=5,8
print("After Swapping", x, y)

Before Swapping 8 5
After Swapping 5 8

## **Sequence Types**

In [61]:
import numpy as np 
import pandas as pd
a = 3
b = 2

swap(a,b)

NameError: name 'swap' is not defined

## **Loops Demos**

Ex1

In [85]:
i=1
while(i<10):
    print(i, end = " ")
    i+=1

1 2 3 4 5 6 7 8 9

Ex2

In [84]:
i=1
while(1):
    if(i==6):
        break
    print(i, end = " ")
    i+=1

1 2 3 4 5

Ex3

In [83]:
i = 1
while(1):
    if(i==6):
        break
    print(i, end = " ")
    i +=1

1 2 3 4 5

Ex4

In [82]:
for i in range(1,10):
   print(i, end = " ")

1 2 3 4 5 6 7 8 9

Ex4

In [80]:
for i in range(1 , 10):
    if(i==6):
        continue
    print(i, end=" ")

1 2 3 4 5 7 8 9

Ex5

In [78]:
for i in range(1,3):
    for j in range(1,3):
        print(str(i) + "\t" + str(j))

1	1
1	2
2	1
2	2

Ex6

In [86]:
i=0
if(i>0):
    print("positive")
elif(i<0):
    print("negative")
else:
    print("zero")

zero

## **Ternary Operator**'

Ex7

In [87]:
# ternary operator in python

# syntax
# [on_true] if [expression] else [on_false] 

i=1
print("positive") if(i>0) else print("negative")

positive

#### Nested Ternary

In [92]:
# nested ternary

i=int(input("enter a number"))

# first -------------------- True on Hold until ---------------this is solved
print("positive") if i > 0 else print("negative") if i < 0 else print("zero")

positive

Ex7a

In [94]:
i = 1

print("positive") if i >0 else print("Negative") if i <0 else print("Zero")

positive

Ex8

In [104]:


# use a for loop over a collection
Months = ["Jan","Feb","Mar","April","May","June"]
for m in Months:
    print(m, end = " ")

Jan Feb Mar April May June

Ex9

In [103]:
# Enumerate function is used for the numbering or indexing the members in the list.
#use a for loop over a collection
Months = ["Jan","Feb","Mar","April","May","June"]
for i, m in enumerate (Months):
        print(i,m, sep = "-", end = "\t")

0-Jan	1-Feb	2-Mar	3-April	4-May	5-June

In [106]:
# how to write infinite loop

while True:
    i=(int)(input("Enter number\n"))
    if(i==0):
        break
    print(i, end = " ")

10 12 13 14 15 20

In [108]:
while True:
    i = int(input("Enter a number : "))
    if(i==0):
        break
    print(i, end = " ")

10 12 13 14 151 6117 18 19 20

## **For Loop**

In [109]:
sum = 0
for i in range(1, 5):
    sum += i
print("Sum of first 5 numbers is", sum)

Sum of first 5 numbers is 10

In [115]:
for i in range(ord('A'), ord('G')+1):
    print(chr(i), end = " ")

A B C D E F G

In [117]:
i = 1
sum=0
while i<6:
    sum+=i
    i = i + 1
    print("Sum of first 5 numbers is", sum)


# output:
# 	Sum of first 5 numbers is 1
# 	Sum of first 5 numbers is 3
# 	Sum of first 5 numbers is 6
# 	Sum of first 5 numbers is 10
# 	Sum of first 5 numbers is 15

				# vs


# output: 
# 	Sum of first 5 numbers is 15

Sum of first 5 numbers is 1
Sum of first 5 numbers is 3
Sum of first 5 numbers is 6
Sum of first 5 numbers is 10
Sum of first 5 numbers is 15
Sum of first 5 numbers is 15

In [118]:
i = 1
sum=0
while i<6:
    sum+=i
    i = i + 1
print("Sum of first 5 numbers is", sum)

Sum of first 5 numbers is 15

Infinite for loop usig iter 

- Iter accepts Datatype and Boolean type

In [120]:
i = 1
for _ in iter(int, True):
    if i == 7:
        break
    print(i, end = " ")
    i += 1

1 2 3 4 5 6

In [122]:
for i in range(5):    # by default it starts with 0
    print("hello", end = " ")

hello hello hello hello hello

In [125]:
for i in range(9):
    print(str(i)+" hello", end = " ")

0 hello 1 hello 2 hello 3 hello 4 hello 5 hello 6 hello 7 hello 8 hello

Range Demos

In [135]:
for i in range(1,10):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9

In [134]:
for i in range(1,10):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9

In [133]:
for i in range(1,10,2):
    print(i, end = " ")

1 3 5 7 9

In [131]:
for i in range(10,1,-1):
    print(i, end = " ")

10 9 8 7 6 5 4 3 2

In [130]:
for i in range(10,1,-2):
    print(i, end = " ")

10 8 6 4 2

### **Else with for and while loop**

In [139]:
for i in range(0,5):
    if i==6: # try 2 :
        break
    print(i, end = " ")
else:    # will evaluate only if break doesn't encounter
    print("done")

0 1 2 3 4 done

In [141]:
for i in range(0,10):
    if(i==12):
        break
    print(i, end = " ")
else:
    print("done with 10 numbers")

0 1 2 3 4 5 6 7 8 9 done with 10 numbers

Ex1

In [142]:
# find out at least one number divisible by 5. If it's there, print and come out otherwise print "not found"

nums=[12,16,18,21,26]

for i in nums:
    if(i%5==0):
        print(i)
        break       # we just want to print only one number divisible by 5 if exists
    else:
      print("not found")

# but we don't want to print "not found" those many times, we want to print only one time.

not found
not found
not found
not found
not found

In [143]:
# find out at least one number divisible by 5. If it's there print and come out otherwise print "not found"

nums=[12,16,18,21,26]
flag=True
for i in nums:
    if(i%5==0):
        print(i)
        flag=True
        break       # we just want to print only one number divisible by 5 if exists
    else:
        flag=False
if(not flag):
      print("not found")

# what if we don't want to use "flag" variable in this code

not found

In [144]:
nums = [12,14,16,18,21]

for i in nums:
    if(i%5==0):
        print(i)
        break
else:
    print("Not Found")

Not Found

In [145]:
# find out at least one number divisible by 5. If it's there print and come out otherwise print "not found"
nums=[12,16,15,21,26]

for i in nums:
    if(i%5==0):
        print(i)
        break       # we just want to print only one number divisible by 5 if exists
else:
    print("not found")

# here "else" part will not be true as for loop terminates with "break"

15

In [147]:
cnt=0

while(cnt<10):
    i=int(input("enter 10 numbers , 0 to terminate"))
    if(i==0):
        break
    print(i, end = " ")
    cnt+=1
else:
    print("User did not enter 0")

10 12 14 16 18 19

## **Python Implementation**

In [148]:
import platform
print(platform.python_implementation())

CPython

## **Jython**

C:\Users\RKC>jython
Jython 2.7.3 (tags/v2.7.3:5f29801fe, Sep 10 2022, 18:52:49)
[OpenJDK 64-Bit Server VM (Amazon.com Inc.)] on java21.0.4
Type "help", "copyright", "credits" or "license" for more information.
> from java.util import ArrayList
>> a = ArrayList()
>>> a.add("Hello")
True
>>>> a.add("Hey")
True
>>>>> print(a)
[Hello, Hey]
>>

## **PIP [Preffered Installer Program]**

PIP [Preferred Installer Program] is a package manager for Python packages, or modules.

In [150]:
# In Python, main function is not required because the Python interpreter executes from the top of the file unless a specific function is defined with the keyword "def".

# e.g.


print("first")
print("second")
print("third")
def disp():
    print("disp 1")
    print("disp 2")
    print("disp 3")
print("fourth")
print("fifth")

# o/p

# first
# second
# third
# fourth
# fifth

first
second
third
fourth
fifth

Guido van Rossum , a Dutch scientist

- at Center for Mathematics and Research , Netherland

- This person doesn't like C,C++ because of their syntax. He decided to make Python very simple, that's why we do not have {} and semicolon in Python.

- The name Python is inspired from Guido's favourite comedy TV show called "Monty Python's Flying Circus".

- Guido wanted a name that was short,unique and slightly mysterious, so he decided to call the language Python.


- He started Python language development as a hobby in 1989.

- Python is inspired by the language ABC which itself a very simple programming language.

- So we can say that Python's parent language is ABC language.

- Python is very imp. for Data Analysis.