# **Day 2 - Collections - Pranay Shah**

Python Collections 

- There are four collection data types in the Python programming language:

- List is a collection which is ordered. Allows duplicate members and is mutable.

- Tuple is a collection which is ordered. Allows duplicate members and is immutable.

- Set is a collection which is unordered and unindexed. No duplicate members.Is immutable for its elements but as an object is mutable.

- Dictionary is a collection which is ordered and changeable. key value pair. No duplicate keys. mutable.

### **Array**

In [3]:
import array as ar

a = ar.array('i',[1,2,3])   #  array    similar datatypes only, 
print(a,"\t",id(a))
a.append(30)   # array references are mutable
print(a,"\t",id(a))
a[1]=22    # array elements are mutable
print(a,"\t",id(a))

array('i', [1, 2, 3]) 	 2356484807136
array('i', [1, 2, 3, 30]) 	 2356484807136
array('i', [1, 22, 3, 30]) 	 2356484807136

In [1]:
import array as ar 

arr1 = ar.array('i',[1,2,3])
print(arr1)

array('i', [1, 2, 3])

### **String**

In [2]:
mystring = "hello"      #  string  
print(mystring)
# mystring[0]='G'    #  Error     string is immutable

#  this creates new object isntead of changing the same one
print(mystring.swapcase())  # string is immutable
print(mystring)

hello
HELLO
hello

### **List**

In [6]:
mylist=[10,20,30,40,30]    #  list   can have duplicates
print(mylist)

mylist[1]=100   # list is mutable
print(mylist)

mylist.append(400) # list is mutable
print(mylist)

[10, 20, 30, 40, 30]
[10, 100, 30, 40, 30]
[10, 100, 30, 40, 30, 400]

### **Tuple**

In [7]:
mytuple=(100,200,300,400,300)   # tuple    can have duplicates
print(mytuple)
#mytuple[1]=700  # Error:  tuple is immutable
print(mytuple,"\t",id(mytuple))
mytuple1=mytuple.__add__((70,80,90))  # it'll be a different object altogether (Dunder methods __add__)
print(mytuple)
print(mytuple,"\t",id(mytuple))  # will not change
print(mytuple1)

(100, 200, 300, 400, 300)
(100, 200, 300, 400, 300) 	 2356484801216
(100, 200, 300, 400, 300)
(100, 200, 300, 400, 300) 	 2356484801216
(100, 200, 300, 400, 300, 70, 80, 90)

### **Sets**

In [10]:

myset={10,20,30,40,20}     # set     can't have duplicates
print(myset)
print(id(myset))
#myset[1]=56   # Error:  set is immutable for its elements
myset.add(45)  # set as an object is mutable
print(myset)
print(id(myset))

{40, 10, 20, 30}
2356484561312
{40, 10, 45, 20, 30}
2356484561312

In [14]:
myset.add(56)
print(myset)
id(myset)

{40, 10, 45, 20, 56, 30}

2356484561312

### **Dict**

In [15]:

mydictionary={'abc':100,'xyz':300,'pqr':600,'xyz':330}  # dictionary   can't have duplicate keys
print(mydictionary)
mydictionary['pqr']=670    # key 'pqr' value gets chanaged here
print(mydictionary)
mydictionary.update({'aaa':333})  # dictionary is mutable
print(mydictionary)

{'abc': 100, 'xyz': 330, 'pqr': 600}
{'abc': 100, 'xyz': 330, 'pqr': 670}
{'abc': 100, 'xyz': 330, 'pqr': 670, 'aaa': 333}

## **List Demos**

Ex 1

In [17]:
mylist = [10,20,30,40]
print(mylist)
print(type(mylist))

print(mylist[0])

print(len(mylist))  # Global function to calculate the length of list

mylist.append(50)   # list is dynamic
print(mylist)

mylist[0]=12        # list is mutable
print(mylist)

[10, 20, 30, 40]
<class 'list'>
10
4
[10, 20, 30, 40, 50]
[12, 20, 30, 40, 50]

In [18]:
# list of multiple data types

mylist = [10,"hello",'A',3.4,True]
print(mylist)
print(type(mylist))
print(mylist[0])
print(len(mylist))
mylist.append(50)   # list is dynamic
print(mylist)
mylist[0]=12        # list is mutable
print(mylist)

[10, 'hello', 'A', 3.4, True]
<class 'list'>
10
5
[10, 'hello', 'A', 3.4, True, 50]
[12, 'hello', 'A', 3.4, True, 50]

In [20]:
# nested list

mylist = [[10,"hello",3.4],[100,True,"welcome"]]

print(mylist)
# let's print the size of outer list
print(len(mylist))

# let's print the size of first nested list
print(len(mylist[0]))

# let's print the size of second nested list
print(len(mylist[1]))

# print first nested list
print(mylist[0])
# print second nested list
print(mylist[1])

[[10, 'hello', 3.4], [100, True, 'welcome']]
2
3
3
[10, 'hello', 3.4]
[100, True, 'welcome']

In [21]:
# let's print all the elements of first nested list

for i in mylist[0]:
    print(i)

10
hello
3.4

In [22]:
# let's print all the elements of second nested list

for i in mylist[1]:
    print(i)

100
True
welcome

In [23]:
mylist[0][1]

'hello'

#### **Append & insert**

In [24]:
# append and insert methods of list
mylist = [10,20,30,40]

print(mylist)

mylist.append(90)   
mylist.insert(2,"welcome")

print(mylist)

[10, 20, 30, 40]
[10, 20, 'welcome', 30, 40, 90]

#### **Extend Method**

In [25]:
# use of extend method to add multiple values at the end of the list

mylist = [10,"hello",4.5,False]

print(mylist)
mylist.extend([20,True,"welcome"])
print(mylist)

[10, 'hello', 4.5, False]
[10, 'hello', 4.5, False, 20, True, 'welcome']

In [26]:
print(len(mylist))

7

#### **Remove**

In [28]:
# remove element from the list

mylist = [10,"hello",4.5,False]

print(mylist)
mylist.remove(4.5)
print(mylist)

[10, 'hello', 4.5, False]
[10, 'hello', False]

In [29]:
mylist.remove(4.8)

ValueError: list.remove(x): x not in list

In [30]:
# Negative indexing means beginning from the end, -1 refers to the last item,
# -2 refers to the second-last item, etc.

mylist = [10,"hello",4.5,False,'A']

print(mylist)

var = -1
while var >= -5:
    print(mylist[var])
    var -= 10000

[10, 'hello', 4.5, False, 'A']
A
False
4.5
hello
10

#### **Pop**

In [32]:
# Pop() function can also be used to remove and return an element from the list,
# but by default it removes only the last element of the list,
# to remove an element from a specific position of the List,
# the index of the element is passed as an argument to the pop() method.

mylist = [10,"hello",4.5,False,'A']

print(mylist)

mylist.pop()  # by default removes the last element
print(mylist)

[10, 'hello', 4.5, False, 'A']
[10, 'hello', 4.5, False]

In [33]:
# Pop() function can also be used to remove and return an element from the list,
# but by default it removes only the last element of the list,
# to remove an element from a specific position of the List,
# the index of the element is passed as an argument to the pop() method.

mylist = [10,"hello",4.5,False,'A']

print(mylist)

mylist.pop(2)  #  removes element at 2nd position
print(mylist)

[10, 'hello', 4.5, False, 'A']
[10, 'hello', False, 'A']

#### **Slicing**

In [1]:
# Slicing of list

mylist = [10,20,30,40,50,60,70,80]

print(mylist)

print("[0:3]\n",mylist[0:3])   # print from 0 to 2

print(mylist[5:])    # print the elements from 5th till end

print(mylist[3:6])   # print the elements from 3rd to 5th position

print(mylist[:])     # print the whole list
print(mylist[::-1])  # print the list in reverse order

print(mylist[:-1])   # Elements sliced till 1st element from last
print(mylist[:-4])   # Elements sliced till 4th element from last

print(mylist[-6:-4]) # Elements sliced from 6th to 4th element from the last

[10, 20, 30, 40, 50, 60, 70, 80]
[0:3]
 [10, 20, 30]
[60, 70, 80]
[40, 50, 60]
[10, 20, 30, 40, 50, 60, 70, 80]
[80, 70, 60, 50, 40, 30, 20, 10]
[10, 20, 30, 40, 50, 60, 70]
[10, 20, 30, 40]
[30, 40]

In [53]:
mylist[1:-2]

[20, 30, 40, 50, 60]

In [56]:
mylist[1::-1]

[20, 10]

In [52]:
mylist[::-10]

[80]

In [67]:
# List comprehensions are used for creating new lists from
# other iterables like tuples, strings, arrays, lists, etc.

# A list comprehension consists of brackets containing the expression, 
# which is executed for each element along with the for loop to iterate over each # element. 

# list contains all even numbers between 4 to 20

mylist = [i for i in range(4,20) if i%2 == 0]

print(mylist)

[4, 6, 8, 10, 12, 14, 16, 18]

-----------

In [1]:
mylist = [ int(i) for i in input("Enter a values:") if(len(mylist)==5)]
print(mylist)

NameError: name 'mylist' is not defined

--------

In [7]:
list1 = []
input1 = 7


for i in range(1,input1 ):
    a = int(input("ENter the values to eter into the list :"))
    list1.append(a)

print(list1)

[10, 20, 30, 50, 60, 70]

In [70]:
# sort the list in ascending and descending order

mylist = [23,12,6,8,11,9,13]
print(mylist)
mylist.sort()
print(mylist)
mylist.sort(reverse=True)
print(mylist)

[23, 12, 6, 8, 11, 9, 13]
[6, 8, 9, 11, 12, 13, 23]
[23, 13, 12, 11, 9, 8, 6]

In [20]:
# sort the list in ascending and descending order

class Student:
    def __init__(self,name,age):        # __init__ is an constructor         Self = this is from java 
        self.name=name
        self.age=age
    def __str__(self):
        return  self.name +"\t"+str(self.age)

s1 = Student("Sachin",23)
s2 = Student("Rahul",32)
s3 = Student("Anand",34)

mylist = [s1,s2,s3]
print(mylist)

# for i in mylist:
#     print(i)

# mylist.sort() # TypeError: '<' not supported between instances of 'Student' and 'Student'
        # we must provide some strategy based on which sort() method  will sort the object

# for i in mylist:
#     print(i)

# mylist.sort(key = Student.__name__)

mylist.sort(key=lambda student : student.name)

for i in mylist:
    print(i)

print("----------------------------------")

mylist.sort(key=lambda student : student.age, reverse=False)

for i in mylist:
    print(i)

[<__main__.Student object at 0x0000017330A61390>, <__main__.Student object at 0x0000017330A62D90>, <__main__.Student object at 0x0000017330A62050>]
Anand	34
Rahul	32
Sachin	23
----------------------------------
Sachin	23
Rahul	32
Anand	34

In [77]:
# sort the list in ascending order

class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return  self.name +"\t"+str(self.age)
    def getname(self):
        return self.name
    def getage(self):
        return self.age

s1 = Student("Sachin",23)
s2 = Student("Rahul",32)
s3 = Student("Anand",34)

mylist = [s1,s2,s3]
print(mylist)

for i in mylist:
    print(i)

mylist.sort(key=Student.getname)     # strategy of name based on which sort() method  will sort the object
print("After sorting")
for i in mylist:
    print(i)

[<__main__.Student object at 0x00000224A9E0B910>, <__main__.Student object at 0x00000224A9C78A50>, <__main__.Student object at 0x00000224A9DDDFD0>]
Sachin	23
Rahul	32
Anand	34
After sorting
Anand	34
Rahul	32
Sachin	23

In [78]:
# sort the list in ascending order

class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return  self.name +"\t"+str(self.age)
    def getname(self):
        return self.name
    def getage(self):
        return self.age

s1 = Student("Sachin",23)
s2 = Student("Rahul",32)
s3 = Student("Anand",34)

mylist = [s1,s2,s3]
print(mylist)

for i in mylist:
    print(i)

mylist.sort(key=Student.getage)     # strategy of age based on which sort() method  will sort the object
print("After sorting")
for i in mylist:
    print(i)

[<__main__.Student object at 0x00000224A9D30110>, <__main__.Student object at 0x00000224A9D33610>, <__main__.Student object at 0x00000224A9D304D0>]
Sachin	23
Rahul	32
Anand	34
After sorting
Sachin	23
Rahul	32
Anand	34

In [79]:
# sort the list in ascending order

class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return  self.name +"\t"+str(self.age)
    def getname(self):
        return self.name
    def getage(self):
        return self.age

s1 = Student("Sachin",23)
s2 = Student("Rahul",32)
s3 = Student("Anand",34)

mylist = [s1,s2,s3]
print(mylist)

for i in mylist:
    print(i)

mylist.sort(key=Student.getage,reverse=True)     # strategy of age based on which sort() method  will sort the object in a reverse order
print("After sorting")
for i in mylist:
    print(i)

[<__main__.Student object at 0x00000224A9CB03D0>, <__main__.Student object at 0x00000224A928E910>, <__main__.Student object at 0x00000224A928C6D0>]
Sachin	23
Rahul	32
Anand	34
After sorting
Anand	34
Rahul	32
Sachin	23

In [2]:
# searching from a list with the help of "in" and "index()" function

mylist12 = ["abc","xyz","pqr","lmn"]

print(mylist12)
print(type(mylist12))

myval = (input("enter value to search in the list : "))
if myval in mylist12:
    print(myval, "is there in the list")
else:
    print(myval," is not there in the list")

print(myval," is there in the list at ",mylist12.index(myval)," position")

['abc', 'xyz', 'pqr', 'lmn']
<class 'list'>
xyz is there in the list
xyz  is there in the list at  1  position

#### **Appending list without append fucntion**

In [1]:
a= input()

In [22]:
x = [10,20,30]
y = [40,50,60]

x += y
print(x)
print(y)

[10, 20, 30, 40, 50, 60]
[40, 50, 60]

In [13]:

# how to extend the list without append
x = [10, 20, 30]
y = [40, 50, 60]
# x+=y
# print(x)

#x[:0]=y    from begining to 0th index
# print(x)

x[3:]=y     #from 3rd to last
print(x)

[10, 20, 30, 40, 50, 60]

In [20]:
x[1:]=y     #from 3rd to last
print(x)

[10, 40, 50, 60]

#### **Zip Function**

In [28]:
num = [1, 2, 3]
color = ['red', 'white', 'black']
for (a,b) in zip(num, color):
     print(a, b)


"""
this is also possible
"""
print()
print()

num = [1, 2, 3]
color = ['red', 'white', 'black']
mylist=["hello","hi","bye"]
for (a,b,c) in zip(num, color,mylist):
     print(a, b,c, sep=" : ", end="\n")

1 red
2 white
3 black


1 : red : hello
2 : white : hi
3 : black : bye

#### **Sort List without using Sort**

In [29]:
# Sort the list without using collection.sort and any type of sorting algorithm

data_list = [-5, -23, 5, 0, 23, -6, 23, 67]
new_list = []

while data_list:
    minimum = data_list[0]  # arbitrary number in list 
    for x in data_list: 
        if x < minimum:
            minimum = x
    new_list.append(minimum)
    data_list.remove(minimum)    

print (new_list)

[-23, -6, -5, 0, 5, 23, 23, 67]

#### **using list as queue**

In [35]:

queue = []
  

queue.append('a')
queue.append('b')
queue.append('c')
  
print("Initial queue")
print(queue)
  

print("\nElements dequeued from queue")
print(queue.pop(0))
print(queue.pop(0))
print(queue.pop(0))
  
print("\nQueue after removing elements")
print(queue)

Initial queue
['a', 'b', 'c']

Elements dequeued from queue
a
b
c

Queue after removing elements
[]

In [33]:
stack = []
 

stack.append('a')
stack.append('b')
stack.append('c')
 
print('Initial stack')
print(stack)
 

# LIFO order
print('\nElements popped from stack:')
print(stack.pop())
print(stack.pop())
print(stack.pop())
 
print('\nStack after elements are popped:')
print(stack)

Initial stack
['a', 'b', 'c']

Elements popped from stack:
c
b
a

Stack after elements are popped:
[]

### **Slicing in list**

mylist[:]

- The colon (:) inside the brackets indicates that you are taking a slice of the entire list from the beginning to the end.

- It effectively means "give me everything from the start to the end of the list."

- mylist[::]
    - The double colon (::) introduces a step parameter to the slice.
    - The format for slicing is start:stop:step. 
    - In this case, you haven't specified start or stop, but you've set the step to its default value of 1.
    Thus, mylist[::] also means "give me everything from the start to the end of the list, with a step of 1."

        e.g.
        mylist = [10, 20, 30, 40, 50]

        print(mylist[::2])  


##### Output: [10, 30, 50] (every second element)
- This shows how :: can be used for more complex slicing.

### **Accept multiple values in single line**

In [24]:
a,b,c,d,e = [int(x) for x in input("Enter five values: ").split()]
print(a+10)
print(b+10)
print(c+10)
print(d+10)
print(e+10)

20
30
40
50
60

In [ ]:
a,b,c,d,e = input("Enter five values: ").split()
print(a)
print(b)
print(c)
print(d)
print(e)

In [74]:
mylist = [int(num) for num in input("Enter multiple values: ").split()]
print("Number of list is: ", mylist)

Number of list is:  [1, 2, 4, 5]

In [75]:
a,b,c,d,e = [10,20,30,40,50]
print(a+10)
print(b+10)
print(c+10)
print(d+10)
print(e+10)

20
30
40
50
60

### **String**

In [76]:
# first example of string
# mystring = "hello"
# mystring = 'hello'
mystring = '''hello'''
print(mystring)
print(type(mystring))
print(len(mystring))
# mystring[0]='G'  # Not possible, strings are immutable

hello
<class 'str'>
5

In [77]:
# how to accept a string from user
mystring = input("Enter your name")
print(mystring)
print(type(mystring))
print(len(mystring))
# mystring[0]='G'  # Not possible, strings are immutable

Pranay is The Topper in All India Level in Pg-DBDA Aug24 Batch
<class 'str'>
63

In [78]:
# accessing string by characters

mystring = "Computer"
print(mystring)
print(mystring[0])  # first character of a string
print(mystring[-1]) # last character of a string
print(mystring[-2]) # second last character of a string

Computer
C
r
e

In [79]:
# slicing a string

mystring = "Computers"
print(mystring)
print(mystring[2:6])  # slice from 2nd position to 6th position
print(mystring[4:-2]) # slice from 4th position to second last position

Computers
mput
ute

In [80]:
# split a string based on space as a delimeter and convert it into list

mystring = "Learning Python is very simple"

print(mystring)

myvar = mystring.split(' ')

print(myvar)
print(type(myvar))

Learning Python is very simple
['Learning', 'Python', 'is', 'very', 'simple']
<class 'list'>

In [81]:
# reverse a string

mystring = input("Enter a string")

print("Before reversing")
print(mystring)

mystring = mystring[::-1]
print(mystring)

Before reversing
Pranay
yanarP

In [93]:

# Built-in string functions

"""

The Python isalpha() method returns true if a string only contains alphabets.
 
Python isdigit() returns true if all characters in a string are numbers. 

Python isalnum() only returns true if a string contains only alphabets or only numbers or combination of alphabets and numbers.

"""

def fun():
    first="hello"
    print(first.isalnum())
    print(first.isalpha())
    print(first.isdigit())
    print("*****************")
    second="hello8"
    print(second.isalnum())
    print(second.isalpha())
    print(second.isdigit())

    print("*****************")
    third="200"
    print(third.isalpha())
    print(third.isalnum())
    print(third.isdigit())


fun()

True
True
False
*****************
True
False
False
*****************
False
True
True

In [91]:
# Built-in String Methods

def fun():
	first="hello world"
	print(first)
	print(first.capitalize())  # Capitalizes first letter of string (new string is created)
	print(first)
fun()

hello world
Hello world
hello world

In [94]:
# how to ignore cases in Python

mystring1 = "hello"
mystring2 ="Hello"


if(mystring1==mystring2):
    print("casewise they are equal")
else:
    print("casewise they are not equal")

print(mystring1.casefold())
print(mystring2.casefold())

if(mystring1.casefold()==mystring2.casefold()):
    print("after ignoring cases they are equal")
else:
    print("even after ignoring cases they are not equal")

casewise they are not equal
hello
hello
after ignoring cases they are equal

#### **String Slicing**

In [102]:
# There are two ways to slice the string

mystring = 'Vidyanidhi'
 
# Using slice constructor  , slice is an in-built class

s1 = slice(3)
s2 = slice(1, 5, 2)
s3 = slice(-1, -8, -2)
# s4=slice(1,6,-2)    # cannot give negative value here
# s4=slice(-2,-7,2)   # cannot give positive value here
s4=slice(-8,6)
# s5=slice(7,-8)   # requires negative value for step
s5=slice(7,-8,-1)
s6=slice(3,-3)
s7=slice(6,-7,-2)
s8=slice(6,-7,-1)
s9=slice(7,2,-2)
s10=slice(-7)    #  0 to -8


print(mystring[s1])
print(mystring[s2])
print(mystring[s3])
print(mystring[s4])
print(mystring[s5])
print(mystring[s6])
print(mystring[s7])
print(mystring[s8])
print(mystring[s9])
print(mystring[s10])

print("String slicing without slice class")

print(mystring[:3])  # or mystring[0:3]
print(mystring[1:5:2])
print(mystring[-1:-8:-2])
print(mystring[-8:6])
print(mystring[7:-8:-1])
print(mystring[3:-3])
print(mystring[6:-7:-2])
print(mystring[6:-7:-1])
print(mystring[7:2:-2])
print(mystring[:-7])   #  0 to -8
print(mystring[:])   # copy of the string
print(mystring[4:])
print(mystring[:-1])
print(mystring[::-1])

Vid
iy
idny
dyan
dinay
yani
ia
ina
dny
Vid
String slicing without slice class
Vid
iy
idny
dyan
dinay
yani
ia
ina
dny
Vid
Vidyanidhi
anidhi
Vidyanidh
ihdinaydiV

-ve10 9 8 7 6 5 4 3 2 1 \

    V I D Y A N I D H I 

+ve 0 1 2 3 4 5 6 7 8 9

In [107]:
mystring = 'Vidyanidhi'
s3 = slice(-1,-7.-2)

print(mystring[s3])

TypeError: slice indices must be integers or None or have an __index__ method

In [108]:
mystring[4:]

'anidhi'

In [109]:
mystring[:-7]

'Vid'

Ex2

In [110]:
mystring1 = "vidyanidhi"
# items start through 6-1
print(mystring1[2:6])

# items start from 3 through the rest of the array
print(mystring1[3:])

# items from the beginning through 6-1
print(mystring1[:6])

# start from 2 till 7-1 not past stop, by step 2
print(mystring1[2:7:2])

# from last (-1)  to (-5) by step 2 
print(mystring1[-1:-6:-2])

print(mystring1[2:-5])

dyan
yanidhi
vidyan
dai
idn
dya

In [111]:
mystring[2:-5]

'dya'

Ex3

In [114]:
mystring="vidyanidhi"
print(mystring[3::5])  # yh     3rd and from 3rd  5th character
print(mystring[2::6])  # dh     2nd and from 2nd  6th character

print(mystring[-7::2]) # yi    -7th and from -7th  -2nd character

print(mystring[-3::-5])  # dd   -3rd and  from -3rd  -5th character

yh
dh
yndi
dd

### **Set**

In [115]:
# first example of set

myset = {10,20,30,40,30}     # duplicates are not allowed
print(myset)
print(type(myset))

# iterating set
for i in myset:
    print(i)

{40, 10, 20, 30}
<class 'set'>
40
10
20
30

In [116]:
# "set()" function to convert a list with duplicate values into set

mylist = [1,2,3,4,5,6,5,5,1,8,9,10]

print(mylist)
print(type(mylist))

# convert list into set

myset = set(mylist)
print(myset)
print(type(myset))

[1, 2, 3, 4, 5, 6, 5, 5, 1, 8, 9, 10]
<class 'list'>
{1, 2, 3, 4, 5, 6, 8, 9, 10}
<class 'set'>

In [118]:
# "set()" function to convert a list with duplicate values into set

mylist = [1,2,3,4,5,6,5,5,1,8,9,10]

print(mylist)
print(type(mylist))

# convert list into set

myset = set(mylist)
print(myset)
print(type(myset))


# add method to add values in the set
myset.add(12)
myset.add(15)
print(myset)

[1, 2, 3, 4, 5, 6, 5, 5, 1, 8, 9, 10]
<class 'list'>
{1, 2, 3, 4, 5, 6, 8, 9, 10}
<class 'set'>
{1, 2, 3, 4, 5, 6, 8, 9, 10, 12, 15}

In [119]:
# "update()" function to add two or more elements into set

myset = {1,2,3,4,5}

print(myset)
print(type(myset))

# adding a tuple
myset.update((10,20,30))

print(myset)

# adding list and tuple
myset.update(['A','B','C'],("hello","welcome"))
print(myset)

{1, 2, 3, 4, 5}
<class 'set'>
{1, 2, 3, 4, 5, 20, 10, 30}
{1, 2, 3, 4, 5, 'B', 'welcome', 10, 20, 30, 'A', 'C', 'hello'}

In [120]:
'''
Using remove() method or discard() method
Elements can be removed from the Set by using built-in remove() function
but a KeyError arises if element doesn’t exist in the set.
To remove elements from a set without KeyError, use discard(),
if the element doesn’t exist in the set, it remains unchanged.
'''

myset = {1,2,3,4,5,6,7}

print(myset)

myset.remove(3)
print(myset)
# myset.remove(10)    # error  KeyError: 10
print(myset)
myset.discard(2)
print(myset)
myset.discard(13)   # no error
print(myset)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}
{1, 4, 5, 6, 7}
{1, 4, 5, 6, 7}

##### Example of set , order is not fixed and duplicates are not allowed

myset= {10,20,30,40,20}
print(myset)
print(type(myset))

### **Tuple**

In [121]:
# Tuple

mytuple = (10,"hello",4.6,True,'N')

print(mytuple)

print(len(mytuple))

print(mytuple[0])  # accessing a particular element of a tuple

# mytuple[1]="welcome"   # Error : cannot change tuple

# how to concat tuple
mytuple1=mytuple+ (500,"welcome",False) # tuple is immutable  -- Operator is overloaded in class
## mytuple1=mytuple.__add__(500,"welcome",False)
print(mytuple)
print(mytuple1)

(10, 'hello', 4.6, True, 'N')
5
10
(10, 'hello', 4.6, True, 'N')
(10, 'hello', 4.6, True, 'N', 500, 'welcome', False)

In [125]:
# creating a tuple with built-in function

mytuple1 = tuple(i for i in range(1, 11))

print("first tuple is")
print(mytuple1)

print("displaying one by one element of a tuple")

for i in mytuple1:
    print(i)

# creating a tuple with the help of list

mylist = ["hello",5.6,True,100,'A']
print("list is ")
print(mylist)
mytuple2 = tuple(mylist)

print("tuple created with the help of list is")
print(mytuple2)

# creating list with the help of tuple

mylist1 = [mytuple1]

print("list created with the help of tuple is")
print(mylist1)

first tuple is
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
displaying one by one element of a tuple
1
2
3
4
5
6
7
8
9
10
list is
['hello', 5.6, True, 100, 'A']
tuple created with the help of list is
('hello', 5.6, True, 100, 'A')
list created with the help of tuple is
[(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)]

In [126]:
# Concatenation of Tuples
# Concatenation is only possible with tuples. It can't be concatenated to other kinds, such lists.

mytuple1 = (10,20,30,40)

mytuple2 = ("hello","welcome","Bye")

mytuple3 = mytuple1 + mytuple2

print("Combined tuple is")
print(mytuple3)

# concatenation of lists

mylist1 = [100,200,300]
mylist2= [True,False,"Hi"]
mylist3 = mylist1 + mylist2
print("combined list is ")
print(mylist3)

Combined tuple is
(10, 20, 30, 40, 'hello', 'welcome', 'Bye')
combined list is
[100, 200, 300, True, False, 'Hi']

In [132]:
# creating a tuple with tuple function and a string

mytuple1 = tuple("Internationalization")

for i in mytuple1:
    print(i, end =" ")

I n t e r n a t i o n a l i z a t i o n

In [133]:
# slicing tuple

mytuple1 = tuple("Internationalization")

for i in mytuple1:
    print(i)

print("slice first 2 elements")
print(mytuple1[2:])

print("Reverse the tuple")
print(mytuple1[::-1])

print("tuple elements within a particular range")
print(mytuple1[4:8])
print("slice last 5 characters")
print(mytuple1[:-5])

I
n
t
e
r
n
a
t
i
o
n
a
l
i
z
a
t
i
o
n
slice first 2 elements
('t', 'e', 'r', 'n', 'a', 't', 'i', 'o', 'n', 'a', 'l', 'i', 'z', 'a', 't', 'i', 'o', 'n')
Reverse the tuple
('n', 'o', 'i', 't', 'a', 'z', 'i', 'l', 'a', 'n', 'o', 'i', 't', 'a', 'n', 'r', 'e', 't', 'n', 'I')
tuple elements within a particular range
('r', 'n', 'a', 't')
slice last 5 characters
('I', 'n', 't', 'e', 'r', 'n', 'a', 't', 'i', 'o', 'n', 'a', 'l', 'i', 'z')

In [134]:
# slicing tuple

mytuple1 = tuple("Internationalization")

for i in mytuple1:
    print(i)

print("slice first 2 elements")
print(mytuple1[2:])

print("Reverse the tuple")
print(mytuple1[::-1])

print("tuple elements within a particular range")
print(mytuple1[4:8])
print("slice last 5 characters")
print(mytuple1[:-5])

print("index of a given value")
print(mytuple1.index('n'))

print("how many times that character is occurred in a given tuple")
print(mytuple1.count('n'))

print("Maximum value of a tuple is")
print(max(mytuple1))
print("Minimum value of a tuple is")
print(min(mytuple1))

print("Sort the elements of tuple")
print(sorted(mytuple1))

I
n
t
e
r
n
a
t
i
o
n
a
l
i
z
a
t
i
o
n
slice first 2 elements
('t', 'e', 'r', 'n', 'a', 't', 'i', 'o', 'n', 'a', 'l', 'i', 'z', 'a', 't', 'i', 'o', 'n')
Reverse the tuple
('n', 'o', 'i', 't', 'a', 'z', 'i', 'l', 'a', 'n', 'o', 'i', 't', 'a', 'n', 'r', 'e', 't', 'n', 'I')
tuple elements within a particular range
('r', 'n', 'a', 't')
slice last 5 characters
('I', 'n', 't', 'e', 'r', 'n', 'a', 't', 'i', 'o', 'n', 'a', 'l', 'i', 'z')
index of a given value
1
how many times that character is occurred in a given tuple
4
Maximum value of a tuple is
z
Minimum value of a tuple is
I
Sort the elements of tuple
['I', 'a', 'a', 'a', 'e', 'i', 'i', 'i', 'l', 'n', 'n', 'n', 'n', 'o', 'o', 'r', 't', 't', 't', 'z']

### **Dictionary Demos**

In [137]:
# first example of Dictionary

mydict = {1:'Amar',2:'Sachin',3:'Vishal'}

print(mydict)

print(mydict[1])
print(mydict[2])
print(mydict[3])
# print(mydict[4])    # KeyError: 4

mydict[2]='Satish' # overwrite the value
print(mydict)
print(mydict.keys())   # print all the keys of dictionary
print(mydict.values())  # print all the values of dictionary

{1: 'Amar', 2: 'Sachin', 3: 'Vishal'}
Amar
Sachin
Vishal
{1: 'Amar', 2: 'Satish', 3: 'Vishal'}
dict_keys([1, 2, 3])
dict_values(['Amar', 'Satish', 'Vishal'])

In [138]:
# Nested Dictionary

mydict = {1:'Amar',2:'Sachin',3:{'A':100,'B':200,'C':300},4:'Vishal'}

print(mydict)

print(mydict[1])
print(mydict[2])
print(mydict[3])
# Displaying nested dictionary
print(mydict[3]['A'])
print(mydict[3]['B'])
print(mydict[3]['C'])
print(mydict[4])

mydict[2]='Satish' # overwrite the value
print(mydict)
print(mydict.keys())   # print all the keys of dictionary
print(mydict.values())  # print all the values of dictionary

{1: 'Amar', 2: 'Sachin', 3: {'A': 100, 'B': 200, 'C': 300}, 4: 'Vishal'}
Amar
Sachin
{'A': 100, 'B': 200, 'C': 300}
100
200
300
Vishal
{1: 'Amar', 2: 'Satish', 3: {'A': 100, 'B': 200, 'C': 300}, 4: 'Vishal'}
dict_keys([1, 2, 3, 4])
dict_values(['Amar', 'Satish', {'A': 100, 'B': 200, 'C': 300}, 'Vishal'])

In [143]:
mydict

{1: 'Amar', 2: 'Satish', 3: {'A': 100, 'B': 200, 'C': 300, 0: 4}, 4: 'Vishal'}

In [147]:
mydict[3]['B'] = 50

In [148]:
mydict

{1: 'Amar', 2: 'Satish', 3: {'A': 100, 'B': 50, 'C': 300, 0: 4}, 4: 'Vishal'}

In [149]:
mydict={5:"hello",2:"hi",1:"bye"}

mylist=sorted(mydict) # sort the keys by default

print(mylist)

# Sort the values
sorted_values = sorted(mydict.values())

print(sorted_values)

[1, 2, 5]
['bye', 'hello', 'hi']

In [155]:
class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return ""+ self.name+"    "+str(self.age)
    def getname(self):
        return self.name
    def getage(self):
        return self.age

s1 = Student('Vishal',23)
s2 = Student('Sachin',32)
s3 = Student('Anand',26)

students = {s1:100,s2:200,s3:50}

for (i, j) in zip(students.keys(),students.values()):
    print(i, j, sep="")


mylist= sorted(students,key=Student.getname)

print(type(mylist))
print("Namewise sort")
for i in mylist:
    print(i)

mylist = sorted(students,key=Student.getage)
print(type(mylist))
print("Agewise sort")
for i in mylist:
    print(i)

mylist = sorted(students,key=Student.getname,reverse=True)

print(type(mylist))
print("Namewise descending order")

for i in mylist:
    print(i)

print(students)
for i in students.keys():
    print(i.name)

for i,j in students.items():
    print(i,"\t",j)

Vishal    23100
Sachin    32200
Anand    2650
<class 'list'>
Namewise sort
Anand    26
Sachin    32
Vishal    23
<class 'list'>
Agewise sort
Vishal    23
Anand    26
Sachin    32
<class 'list'>
Namewise descending order
Vishal    23
Sachin    32
Anand    26
{<__main__.Student object at 0x0000023CA8A1AE90>: 100, <__main__.Student object at 0x0000023CA8A1A390>: 200, <__main__.Student object at 0x0000023CA8A19B90>: 50}
Vishal
Sachin
Anand
Vishal    23 	 100
Sachin    32 	 200
Anand    26 	 50

In [156]:
class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return ""+ self.name+"    "+str(self.age)
    def getname(self):
        return self.name
    def getage(self):
        return self.age

s1 = Student('Vishal',23)
s2 = Student('Sachin',32)
s3 = Student('Anand',26)

students = {s1:100,s2:200,s3:50}

for i in students:
    print(i)

mylist= sorted(students,key=Student.getname)

print(type(mylist))
print("Namewise sort")
for i in mylist:
    print(i)

mylist = sorted(students,key=Student.getage)
print(type(mylist))
print("Agewise sort")
for i in mylist:
    print(i)

mylist = sorted(students,key=Student.getname,reverse=True)

print(type(mylist))
print("Namewise descending order")

for i in mylist:
    print(i)

Vishal    23
Sachin    32
Anand    26
<class 'list'>
Namewise sort
Anand    26
Sachin    32
Vishal    23
<class 'list'>
Agewise sort
Vishal    23
Anand    26
Sachin    32
<class 'list'>
Namewise descending order
Vishal    23
Sachin    32
Anand    26

### **Comprehension**

#### **List**

Ex1

In [157]:
# List comprehensions are used for creating new lists from
# other iterables like tuples, strings, arrays, lists, etc.

# A list comprehension consists of brackets containing the expression, 
# which is executed for each element along with the for loop to iterate over each # element. 

# list contains all even numbers between 4 to 20

mylist = [i for i in range(4,20) if i%2 == 0]

print(mylist)

[4, 6, 8, 10, 12, 14, 16, 18]

Ex2

In [158]:
mylist=[num**2 for num in range(1,15,2)]
print(mylist)

[1, 9, 25, 49, 81, 121, 169]

#### **Set**

In [25]:
myset={x for x in range(1,11)}
print(myset)

mydictionary={"soap":100,"perfume":300,"deo":400,"hairoil":250,"babysoap":100}

myset1={x for x in mydictionary.values()}
print(myset1)

myset2={x for x in mydictionary.keys() if len(x)>5}
print(myset2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{400, 250, 100, 300}
{'hairoil', 'perfume', 'babysoap'}

#### **Dictionary**

In [28]:
mydict={x:x**2 for x in range(1,20) if x%2!=0}
print(mydict)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81, 11: 121, 13: 169, 15: 225, 17: 289, 19: 361}

In [161]:
products = ["Soap","Perfume","Deo","Hair Oil"]
prices=[100,300,400,250]
mydict = {key:value for (key,value) in zip(products,prices)}
print(mydict)

{'Soap': 100, 'Perfume': 300, 'Deo': 400, 'Hair Oil': 250}

#### **Tuple**

In [162]:
""" In Python, there's no tuple comprehension.
However, you can mimic the tuple comprehensions by running a generator expression inside tuple() function call. 
 """
mytuple=(i for i in range(1,10))   # you are trying to do tuple Comprehension
print(mytuple)  # it is a generator not a tuple
mytuple1=tuple(i for i in range(1,10))  # we are converting generator to tuple
print(mytuple1)    # it's a tuple now
print(type(mytuple1))

<generator object <genexpr> at 0x0000023CA8A3AA80>
(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>