# **Day4 - Lambda Expressions - Pranay Shah**

- Anonymous functions are also called lambda functions in Python because instead of declaring them with the standard def keyword, you use the lambda keyword.

- A lambda function is a small anonymous function.

- A lambda function can take any number of arguments, but can only have one expression.

        Syntax
        lambda arguments : expression

- The expression is executed and the result is returned:

- The main role of the lambda function is better described in the scenarios when we use them anonymously inside another function. In Python, the lambda function can be used as an argument to the higher-order functions which accepts other functions as arguments.  

        """ def double(x):
                return x*2
  
        my_list = [1, 2, 3, 4, 5, 6]
        new_list = list(map(double, my_list))
        print(new_list) # [2, 4, 6, 8, 10, 12] """

        my_list = [1, 2, 3, 4, 5, 6]
        new_list = list(map(lambda x: x*2, my_list))
        print(new_list) # [2, 4, 6, 8, 10, 12]

**First**

In [1]:
add=lambda x,y:x+y
print("add is the reference to the object of type\t",type(add))
print("address of the object where add refers to is\t", id(add))
print(add(5,6))

add is the reference to the object of type	 <class 'function'>
address of the object where add refers to is	 1211652332960
11

In [2]:
multiply=lambda x,y:x*y
print("multiply is the reference to the object of type\t",type(multiply))
print("address of the object where multiply refers to is\t", id(multiply))
print(multiply(9,8))

multiply is the reference to the object of type	 <class 'function'>
address of the object where multiply refers to is	 1211652334240
72

In [3]:
disp=lambda:print("welcome")
print("disp is the reference to the object of type\t",type(disp))
print("address of the object where disp refers to is\t", id(disp))
disp()

disp is the reference to the object of type	 <class 'function'>
address of the object where disp refers to is	 1211657314656
welcome

In [2]:
(lambda:print("Welcome"))()

Welcome

In [4]:
disp=lambda:[print("welcome"),print("hi"),print("Good Bye")]
print("disp is the reference to the object of type\t",type(disp))
print("address of the object where disp refers to is\t", id(disp))
disp()

# no need to collect lambda in any variable

(lambda:print("Welcome to lambda world"))()

print((lambda x: x*x)(10))

disp is the reference to the object of type	 <class 'function'>
address of the object where disp refers to is	 1211657314816
welcome
hi
Good Bye
Welcome to lambda world
100

In [54]:
(lambda :[print("inside 1st print"),print("inside 2nd print"),print("inside 3rd print",sep=' - '),print("inside 4th print")])()

inside 1st print
inside 2nd print
inside 3rd print
inside 4th print

[None, None, None, None]

In [6]:
(lambda:[print('Pranay'), print('Bindesh'), print('Shah')])()

Pranay
Bindesh
Shah

[None, None, None]

In [9]:
sub = lambda x,y:x-y

print(sub(10,2))

8

**Second**

In [11]:
# passing lambda as an argument

def myfun(fun):
    fun()

temp=lambda:print("welcome to lambda world")

myfun(temp)

myfun(lambda:print("this is another lambda"))

welcome to lambda world
this is another lambda

In [13]:
myfun(lambda:print("this is another lambda"))

this is another lambda

**Third**

In [55]:
def myfun(fun,num):
    fun(num)
disp=lambda x: [print(i, end = ' ') for i in range(1,x)]

myfun(disp,7)

1 2 3 4 5 6

In [18]:
(lambda x:[print(i, end = '   ') for i in range(1,x+1)])(10)

1   2   3   4   5   6   7   8   9   10

[None, None, None, None, None, None, None, None, None, None]

In [12]:
def mydfun(func, x):
    func(x)

disp = lambda x:[print(i, end = " ") for i in range(1,x+1)]

mydfun(disp,10)

1 2 3 4 5 6 7 8 9 10

In [24]:
def myf(fun, num):
    fun(num)

dis1 = lambda x: [print(chr(i), end = ' ') for i in range(97, 100+x)]

myf(dis1,8)

a b c d e f g h i j k

In [25]:
list1 = ['Pranay', 'Shah', 'Bindesh', 'Krishna', 12,50,True, [1,2,3,4,5]]

fun1 = lambda x: [print(i) for i in list1]

def myfun(function, list1):
    function(list1)

myfun(fun1, list1)

Pranay
Shah
Bindesh
Krishna
12
50
True
[1, 2, 3, 4, 5]

In [21]:
def myfun(fun, num):
    fun(num)

disp =  lambda x : [print(i, end=' ') for i in range(1,x+1)]

myfun(disp,10)

1 2 3 4 5 6 7 8 9 10

Way1

In [29]:
myfun((lambda x:[print(i, end =' ') for i in range(1,x+1)]),15)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

**Fourth**

In [28]:
def myfun(fun,*val):
    fun(val)

multiple=(lambda *arg:[print(i) for i in arg])

myfun(multiple,10,20,30,40,50)

(10, 20, 30, 40, 50)

In [29]:
def vararument(fun, *val):
    fun(val)

multiple = lambda *args:[print(i) for i in args]

vararument(multiple, 10,12,13,14,15,16)

(10, 12, 13, 14, 15, 16)

In [ ]:
def myfun(fun, *val):
    fun(val)

multiple = lambda *val: [print(i) for i in val]

myfun(multiple, [100,500,1000,1500,2000])

([100, 500, 1000, 1500, 2000],)

In [45]:
def myfun(fun, **val):
    fun(**val)

multiple = lambda **val: [print(k,v, sep=' = ') for (k,v) in val.items()]

myfun(multiple, name='Pranay', Age=23, Location='Mumbai')

name = Pranay
Age = 23
Location = Mumbai

In [47]:
def dfunction(lambda1,**x):
    lambda1(**x)

lambda1 = lambda **x:[print(i,j, sep = " = ") for i,j in x.items()]

dfunction(lambda1,name ='Hemant', age=24, Location = 'Cntrl. Mumbai' )

name = Hemant
age = 24
Location = Cntrl. Mumbai

In [49]:
def fucntiona(disp, *a):
    disp(*a)

disp = lambda *x:[print(i, end = " ") for i in x]

fucntiona(disp, 10,12,13,14,15,16,17,18,19,20)

10 12 13 14 15 16 17 18 19 20

In [65]:
def dun(fun,*num):
    fun(num)
disp = lambda *arg : [print(i) for i in arg]

dun(disp, 10,11,22,33,44,55,66)

(10, 11, 22, 33, 44, 55, 66)

In [37]:
def myfun(fun, *val):
    fun(val)

multiple = lambda *arg:[print(i) for i in arg]

myfun(multiple, 10,20,30,40,50,60,70)

(10, 20, 30, 40, 50, 60, 70)

In [40]:
(lambda *arg:[print(i) for i in arg])(10,20,30,40,)

10
20
30
40

[None, None, None, None]

**KeyWorded**

In [43]:
multiple1=lambda **arg:[print(i,j) for i,j in arg.items()]

multiple1(name="Abc",age=34,rollno=1,address="Mumbai")

name Abc
age 34
rollno 1
address Mumbai

[None, None, None, None]

In [77]:
multiple = lambda **arg: [print(i,j, sep = ' - ') for i,j in arg.items()]

multiple(name='Pranay', age=26, Country = 'USA', State = 'MA / CA', Car = 'Maserati')

name - Pranay
age - 26
Country - USA
State - MA / CA
Car - Maserati

[None, None, None, None, None]

In [21]:
(lambda **arg:[print(i,j, sep = " = ") for i,j in arg.items()])(name="Abc",age=34,rollno=1,address="Mumbai")

name = Abc
age = 34
rollno = 1
address = Mumbai

[None, None, None, None]

Fifth - if Else

In [47]:
temp1=lambda *x:[print("no arg passed to lambda") if(len(x)==0)  else [print(i) for i in x ]]
temp1()
temp1(300)
temp1(500,600)

no arg passed to lambda
300
500
600

[[None, None]]

In [85]:
temp1 = lambda *x: [print("No Args Passed") if (len(x)==0) else [print(i) for i in x]]

temp1('Pranay', '$320k', "California", 'New York', 'Purdue University')

Pranay
$320k
California
New York
Purdue University

[[None, None, None, None, None]]

In [86]:
function = lambda *x :[print(i) for i in x ] if(len(x) >= 8) else[print("Characters are smaller than metioned requirement")]

temp = function('Pranay', 'Shah', 'Adel', 'Krishna', 'Rashi', 'Radha')

Characters are smaller than metioned requirement

In [48]:
min = lambda a, b : a if(a < b) else b
print(min(100, 20))

min1 = (lambda a, b : a if(a < b) else b)(10,20)
print(min1)

20
10

In [ ]:
# using normal functions
"""
def caller(fun,num):
    print("inside caller")
    fun(num)

def disp(var):
    print("inside disp\t",var)

caller(disp,10)

"""
"""
# using lambda

caller=lambda fun,num: [print("inside caller lambda"), fun(num)]
disp=lambda var:print("inside disp lambda\t",var)

caller(disp,200)
"""

In [49]:
def caller(fun,num):
    print("inside caller")
    fun(num)

def disp(var):
    print("inside disp\t",var)

caller(disp,10)

inside caller
inside disp	 10

In [34]:
iseven = lambda x:print("Its an Even number",x) if x%2 ==0 else("Its not an Even Number")

print(iseven(5))

Its not an Even Number

### **MAP**

In [43]:
number = [2,5,8,9,4,6,3,1,11]

squared = list(map(lambda x:x**2, number))

print(squared)

[4, 25, 64, 81, 16, 36, 9, 1, 121]

### **FILTER**

In [42]:
number = [10,20,30,40,50,88,60,21,55,74,71,77,63,25,95]

odd_numbers = list(filter(lambda x:x%2!=0, number))

print(odd_numbers)

[21, 55, 71, 77, 63, 25, 95]

In [50]:
# using lambda

caller=lambda fun,num: [print("inside caller lambda"), fun(num)]
disp=lambda var:print("inside disp lambda\t",var)

caller(disp,200)

inside caller lambda
inside disp lambda	 200

[None, None]