# **Day7 - Pandas - PranayBShah**

> **Pandas** stands for "**Panel Data**" and is the core library for data manipulation and data analysis.
It consists of single and multidimensional data-structures for data manipulation.
single dimensional data structure is known as "Series objects" and multi-dimensional data structure is known as "Data Frame".
In pandas, we can import data from various file formats like JSON, CSV(comma-separated values), Microsoft Excel, etc.

>> When we have to work on Tabular data, we prefer the pandas module.When we have to work on Numerical data, we prefer the numpy module.

>> The powerful tools of pandas are Data frame and Series. Whereas the powerful tool of numpy is Arrays.

In [41]:
import pandas as pd 

first = pd.Series([10,20,30,40,50,60,70])
print(first)

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

Ex1a

In [42]:
# Series object is a one-dimensional labelled or indexed  array

import pandas as pd

first=pd.Series([10,2.8,True,40,"hello"])
print(first)
print("********")
print(first.index)
print("********")
print(first.values)

0       10
1      2.8
2     True
3       40
4    hello
dtype: object
********
RangeIndex(start=0, stop=5, step=1)
********
[10 2.8 True 40 'hello']

Ex1b

In [44]:
# accept input

from pandas import *

mylist=[]
print("enter values, 0 to exit")

while True:
    val=int(input())
    if(val==0):
        break
    mylist.append(val)

myseries=Series(mylist)
print(myseries)

enter values, 0 to exit
0    10
1    20
2    30
dtype: int64

Ex1c

In [45]:
# create panda series using tuple

from pandas import *

mytuple=(100,200,300,400,500)
myseries=Series(mytuple)
print(myseries)

0    100
1    200
2    300
3    400
4    500
dtype: int64

Ex1d

In [46]:
# if you don't want to print index

import pandas as pd

first=pd.Series([10,20,30,40,50])
print(first)
print("*************")
print(first.to_string(index=False))

0    10
1    20
2    30
3    40
4    50
dtype: int64
*************
10
20
30
40
50

Ex2

In [47]:
# Series object is a one-dimensional labelled or indexed array

from pandas import *

first=Series([100,200,300,400,500])
print(first)
print("\n")
print(type(first))

0    100
1    200
2    300
3    400
4    500
dtype: int64


<class 'pandas.core.series.Series'>

Ex3

In [48]:
# we can change the labels or indexes
from pandas import *

first=Series([10,20,30,40,50],index=['p','q','r','s','t'])
print(first)

p    10
q    20
r    30
s    40
t    50
dtype: int64

Ex3a

In [49]:
# we can change the labels or indexes
from pandas import *

first=Series([10,20,30,40,50],index=['p','q','r'])   # ValueError: Length of values (5) does not match length of index (3)
print(first)

ValueError: Length of values (5) does not match length of index (3)

Ex3b

In [50]:
# labels or indexes can be of any type
from pandas import *

first=Series([10,20,30,40,50],index=['hello','q',3,6.7,False])
print(first)

hello    10
q        20
3        30
6.7      40
False    50
dtype: int64

Ex4

In [51]:
# How to create series object from dictionary
from pandas import *

mydict=({1:'Sachin',2:'Rahul',3:'Anil',4:'Rohit'})
print(mydict)

print("\n")
print(type(mydict))

print("Let's create Series from a dictionary")
myseries=Series(mydict)

print(myseries)
print(myseries.index)
print(myseries.values)

{1: 'Sachin', 2: 'Rahul', 3: 'Anil', 4: 'Rohit'}


<class 'dict'>
Let's create Series from a dictionary
1    Sachin
2     Rahul
3      Anil
4     Rohit
dtype: object
Index([1, 2, 3, 4], dtype='int64')
['Sachin' 'Rahul' 'Anil' 'Rohit']

Ex5

In [52]:
# changing index 

from pandas import *

myseries=Series([10,20,30,40,50])
print(myseries)
myseries.index=['a','b','c','d','e']
print(myseries)
print(myseries[0])
myseries[1]=65   # possible
print(myseries)

0    10
1    20
2    30
3    40
4    50
dtype: int64
a    10
b    20
c    30
d    40
e    50
dtype: int64
10
a    10
b    65
c    30
d    40
e    50
dtype: int64

C:\Users\RKC\AppData\Local\Temp\ipykernel_18192\1172012514.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(myseries[0])
C:\Users\RKC\AppData\Local\Temp\ipykernel_18192\1172012514.py:10: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  myseries[1]=65   # possible

Ex6

In [53]:
# extracting elements from the series

from pandas import *

myseries=Series([10,20,30,40,50,60,70,80])
print(myseries)
print("\n")
print(myseries[5])              # extract 5th element
print("\n")
print(myseries[2:6])            # extract elements from 2 to 5
print("\n")
print(myseries[-6:-3])          # extract elements from sixth last to fourth last
print("\n")
print(myseries[:4])             # extract first 4 elements
print("\n")
print(myseries[3:])             # extract elements from the 3rd position

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
dtype: int64


60


2    30
3    40
4    50
5    60
dtype: int64


2    30
3    40
4    50
dtype: int64


0    10
1    20
2    30
3    40
dtype: int64


3    40
4    50
5    60
6    70
7    80
dtype: int64

Ex7

In [54]:
# adding a scalar value to series elements  and adding two series

from pandas import *
myseries=Series([10,20,30,40,50])
print(myseries)
print("\n")
print(myseries+4)
print("\n")
myseries1=Series([1,2,3,4,5])
print(myseries+myseries1)

0    10
1    20
2    30
3    40
4    50
dtype: int64


0    14
1    24
2    34
3    44
4    54
dtype: int64


0    11
1    22
2    33
3    44
4    55
dtype: int64

Ex8

In [55]:
from pandas import *

myseries=Series([10,20,30,40,50,60])
print(myseries)
print("\n")
print(myseries.sum())
print("\n")
print(myseries.add(3))
print("\n")
print(myseries.subtract(5))
print("\n")
print(myseries.divide(2) )
print("\n")
print(myseries.mul(4))

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64


210


0    13
1    23
2    33
3    43
4    53
5    63
dtype: int64


0     5
1    15
2    25
3    35
4    45
5    55
dtype: int64


0     5.0
1    10.0
2    15.0
3    20.0
4    25.0
5    30.0
dtype: float64


0     40
1     80
2    120
3    160
4    200
5    240
dtype: int64

Ex9

**Dataframe**

In [56]:
# DataFrame is a two dimensional labelled data structure
# DataFrame comprises of rows and columns

from pandas import *

mydict={"Name":['Sachin','Rahul','Anil'],"Age":[30,35,38]}
print(mydict)
mydataframe=DataFrame(mydict)
print(mydataframe)
print("\n")
print(type(mydataframe))

{'Name': ['Sachin', 'Rahul', 'Anil'], 'Age': [30, 35, 38]}
     Name  Age
0  Sachin   30
1   Rahul   35
2    Anil   38


<class 'pandas.core.frame.DataFrame'>

Ex9a

In [57]:
# extract DataFrame columns as list

from pandas import *

mydataframe=DataFrame({"proid":range(1,5),"proname":['soap','perfume','deo','powder']})
print(mydataframe)
print("******************************************")

mylist=mydataframe["proid"].values.tolist()       # extract values of "proid" only and convert them to list
print(mylist)
print("******************************************")

mylist=mydataframe[["proname","proid"]].values.tolist() # extract values of "proname and proid" and convert them to list
print(mylist)
print("******************************************")

mylist1=mydataframe[["proid","proname"]].values.tolist()
print(mylist1)

   proid  proname
0      1     soap
1      2  perfume
2      3      deo
3      4   powder
******************************************
[1, 2, 3, 4]
******************************************
[['soap', 1], ['perfume', 2], ['deo', 3], ['powder', 4]]
******************************************
[[1, 'soap'], [2, 'perfume'], [3, 'deo'], [4, 'powder']]

Ex9_a_1

In [58]:
"""
loc works on the given index of the dataframe rows
iloc works on the original index (which always starts from the 0) of the dataframe rows
"""

# extract DataFrame rows as list

from pandas import *

mydata=DataFrame([100,101,102,103,104],index=['a','b','c','d','e'])
print(mydata)
print(mydata.loc['a':'c']) # rows from a to c
print(mydata.loc[['b','e']]) # rows b and e
print(mydata.iloc[0:3])

     0
a  100
b  101
c  102
d  103
e  104
     0
a  100
b  101
c  102
     0
b  101
e  104
     0
a  100
b  101
c  102

In [59]:

"""
One more example

"""

from pandas import *

mydataframe=DataFrame({"proid":range(1,5),"proname":['soap','perfume','deo','powder']})
print(mydataframe)
mylist=mydataframe.loc[(mydataframe.proname=='perfume')].values.tolist()
print(mylist)
mylist=mydataframe.loc[(mydataframe.proname!='soap') & (mydataframe.proname!='powder')].values.tolist()
print(mylist)
mylist=mydataframe.iloc[:3].values.tolist();
print(mylist)

# [2:4,:2] means 2 to 3 rows and 0 to 1 columns
# i.e. 2nd and 3rd row with only column no. 0
mylist=mydataframe.iloc[2:4,:2].values.tolist();
print(mylist)

   proid  proname
0      1     soap
1      2  perfume
2      3      deo
3      4   powder
[[2, 'perfume']]
[[2, 'perfume'], [3, 'deo']]
[[1, 'soap'], [2, 'perfume'], [3, 'deo']]
[[3, 'deo'], [4, 'powder']]

Ex9b

In [60]:
# extract DataFrame rows as list

from pandas import *

mydataframe=DataFrame({"proid":range(1,5),"proname":['soap','perfume','deo','powder']})
print(mydataframe)
mylist=mydataframe.loc[[0]].values.tolist()
print(mylist)
print("\n")
mylist=mydataframe.loc[[0,1]].values.tolist()   # extract 0 and 1 rows
print(mylist)
mylist=mydataframe.loc[[1,3]].values.tolist()   # extract row no. 1 and 3 
print(mylist)
mylist=mydataframe.values.tolist()                # extract all rows
print(mylist)
mylist=mydataframe.iloc[:,0:1].values.tolist()    #  extract all rows of 0 to 1 columns, 1 is exclusive
print(mylist)
mylist=mydataframe.iloc[1:3,0:1].values.tolist()  # extract 1 to 3 rows and 0 to 1 columns, 3 and 1 are exclusive
print(mylist)

   proid  proname
0      1     soap
1      2  perfume
2      3      deo
3      4   powder
[[1, 'soap']]


[[1, 'soap'], [2, 'perfume']]
[[2, 'perfume'], [4, 'powder']]
[[1, 'soap'], [2, 'perfume'], [3, 'deo'], [4, 'powder']]
[[1], [2], [3], [4]]
[[2], [3]]

Ex9c

In [61]:
# extract DataFrame columns randomly

from pandas import *

mydataframe=DataFrame({"proid":range(5,9),"proname":['soap','perfume','deo','powder'],"price":[120,400,280,160]})
print(mydataframe)

mylist=mydataframe.values.tolist()                # extract all rows
print(mylist)
print("\n\n")
mylist=mydataframe.iloc[:,[0,2]].values.tolist()    #  extract all rows of 0 and 2nd columns ( by skipping 1st column)
print(mylist)

   proid  proname  price
0      5     soap    120
1      6  perfume    400
2      7      deo    280
3      8   powder    160
[[5, 'soap', 120], [6, 'perfume', 400], [7, 'deo', 280], [8, 'powder', 160]]



[[5, 120], [6, 400], [7, 280], [8, 160]]

Ex9d

In [62]:
# extract DataFrame columns randomly

from pandas import *

mydataframe=DataFrame({"proid":range(5,9),"proname":['soap','perfume','deo','powder'],"price":[120,400,280,160]})
print(mydataframe)

mylist=mydataframe.values.tolist()                # extract all rows
print(mylist)
print("\n\n")
mylist=mydataframe.iloc[[1,3],[0,2]].values.tolist()    #  extract row no. 1 and 3 of 0 and 2nd columns 
print(mylist)

   proid  proname  price
0      5     soap    120
1      6  perfume    400
2      7      deo    280
3      8   powder    160
[[5, 'soap', 120], [6, 'perfume', 400], [7, 'deo', 280], [8, 'powder', 160]]



[[6, 400], [8, 160]]

Ex10

In [63]:
# DataFrame built-in functions
# copy "Book1.csv" file inside pycharm project folder

# e.g. copy "Book1.csv" file inside
# "C:\Users\Nitin\PycharmProjects\pythonProject" folder.
# Here "pythonProject" is assumed to be the name of the
# project which we have created.

from pandas import *
path = r'A:\CDAC_SM_VITA\4_Python\Day_7\Pandas\Examples\Book1.csv'
book=read_csv(path)
print(book)
print("type of book is\t",type(book))
print("\n")
print("Let's print first 5 records")
print(book.head()) # by default 0 to 5 , 5 is exclusive
print("\n")
print("let's print first 3 records")
print(book.head(3)) # 0 to 3 , 3 is exclusive
# print("\n")
print("print all the records except last 3 records")

     name  age   address
0   Rohit   35    mumbai
1   Virat   36     delhi
2  Sachin   50    mumbai
3  Ashwin   38   chennai
4  Bumrah   29    mumbai
5   Shami   33  banglore
6  Yuvraj   43     delhi
7   Dhoni   43     delhi
8     Sky   29    mumbai
9   Umesh   30  banglore
type of book is	 <class 'pandas.core.frame.DataFrame'>


Let's print first 5 records
     name  age  address
0   Rohit   35   mumbai
1   Virat   36    delhi
2  Sachin   50   mumbai
3  Ashwin   38  chennai
4  Bumrah   29   mumbai


let's print first 3 records
     name  age address
0   Rohit   35  mumbai
1   Virat   36   delhi
2  Sachin   50  mumbai
print all the records except last 3 records

In [64]:

# 0 to -4
print(book.head(-3))   #  print all the records except last 3 records

print("Let's print last 5 records")
print(book.tail())  #  [-5:]

print("let's print last 2 records")
print("\n")

print(book.tail(2))  # [-2:]
print("\n")

print("print all the records except first 3 records")

     name  age   address
0   Rohit   35    mumbai
1   Virat   36     delhi
2  Sachin   50    mumbai
3  Ashwin   38   chennai
4  Bumrah   29    mumbai
5   Shami   33  banglore
6  Yuvraj   43     delhi
Let's print last 5 records
     name  age   address
5   Shami   33  banglore
6  Yuvraj   43     delhi
7   Dhoni   43     delhi
8     Sky   29    mumbai
9   Umesh   30  banglore
let's print last 2 records


    name  age   address
8    Sky   29    mumbai
9  Umesh   30  banglore


print all the records except first 3 records

In [65]:
#[-(-3):]
print(book.tail(-3))  #  print all the records except first 3 records
print("Total no. of rows and columns in the file")
print(book.shape)

print("\n")
print(book.describe())

print("\n")
print("Let's extract first 3 records with 2 columns only")
print(book.iloc[:3,:2])

print("\n")
print(book.loc[0:4,('name','address')])   #  Access a group of rows and columns by label(s) , 4 is inclusive here
print("Let's drop a particular column")
print(book.drop("age",axis=1))  # here axis=1  means we want to drop the column
print("Let's drop some rows")
print(book.drop([3,4,5,6],axis=0))      # here axis=0  means we want to drop rows
print("let's drop name column and 1,3 ,7 rows")

     name  age   address
3  Ashwin   38   chennai
4  Bumrah   29    mumbai
5   Shami   33  banglore
6  Yuvraj   43     delhi
7   Dhoni   43     delhi
8     Sky   29    mumbai
9   Umesh   30  banglore
Total no. of rows and columns in the file
(10, 3)


             age
count  10.000000
mean   36.600000
std     6.979335
min    29.000000
25%    30.750000
50%    35.500000
75%    41.750000
max    50.000000


Let's extract first 3 records with 2 columns only
     name  age
0   Rohit   35
1   Virat   36
2  Sachin   50


     name  address
0   Rohit   mumbai
1   Virat    delhi
2  Sachin   mumbai
3  Ashwin  chennai
4  Bumrah   mumbai
Let's drop a particular column
     name   address
0   Rohit    mumbai
1   Virat     delhi
2  Sachin    mumbai
3  Ashwin   chennai
4  Bumrah    mumbai
5   Shami  banglore
6  Yuvraj     delhi
7   Dhoni     delhi
8     Sky    mumbai
9   Umesh  banglore
Let's drop some rows
     name  age   address
0   Rohit   35    mumbai
1   Virat   36     delhi
2  Sachin   50    mumbai
7   Dhoni   43     delhi
8     Sky   29    mumbai
9   Umesh   30  banglore
let's drop name column and 1,3 ,7 rows

In [67]:
# instead of 1 and 0 you can mention 'columns' and 'rows' respectively

# Columns can be dropped at the time of reading itself.
print(book.drop(("name"),axis='columns').drop([1,3,7],axis='rows'))
print("\n")
cancel =['address','age']
book1=read_csv(path).drop(cancel,axis='columns')
print(book1)


book1=read_csv(path).drop([0,1,2,3,4],axis='rows')
print(book1)

   age   address
0   35    mumbai
2   50    mumbai
4   29    mumbai
5   33  banglore
6   43     delhi
8   29    mumbai
9   30  banglore


     name
0   Rohit
1   Virat
2  Sachin
3  Ashwin
4  Bumrah
5   Shami
6  Yuvraj
7   Dhoni
8     Sky
9   Umesh

Ex10a

- File handling

In [68]:
# difference between traditional reading and pandas way of reading
# copy "Book1.csv" file inside pycharm project folder


from pandas import *

myfile=read_csv(path)

print(myfile)
print("\n\n")
print("let's us read the file in a tradional way")

f=open(path,"r")
for content in f:
	print(content)
f.close()

print("Done")

     name  age   address
0   Rohit   35    mumbai
1   Virat   36     delhi
2  Sachin   50    mumbai
3  Ashwin   38   chennai
4  Bumrah   29    mumbai
5   Shami   33  banglore
6  Yuvraj   43     delhi
7   Dhoni   43     delhi
8     Sky   29    mumbai
9   Umesh   30  banglore



let's us read the file in a tradional way
name,age,address

Rohit,35,mumbai

Virat,36,delhi

Sachin,50,mumbai

Ashwin,38,chennai

Bumrah,29,mumbai

Shami,33,banglore

Yuvraj,43,delhi

Dhoni,43,delhi

Sky,29,mumbai

Umesh,30,banglore

Done

Ex10b

In [70]:
# difference between tradional reading and pandas way of reading

from pandas import *

pathjson = r"Pandas\Examples\details.json"
myfile=read_json(pathjson)
print(myfile)

print("\n\n")

print("let's us read the file in a tradional way")

f=open(pathjson,"r")
for content in f:
	print(content)
f.close()

print("Done")

     Name  Age   Address
0  Sachin   40    Mumbai
1   Rahul   45  Banglore



let's us read the file in a tradional way
[

	{

		"Name": "Sachin",

		"Age":  40,

		"Address": "Mumbai"

	},

	{

		"Name": "Rahul",

		"Age": 45,

		"Address": "Banglore"

	}

]
Done

Ex11

In [71]:
from pandas import *

mydataframe=DataFrame({'points': [25, 12, 15, 14, 19, 23, 25, 29],
                   'assists': [5, 7, 7, 9, 12, 9, 9, 4],
                   'rebounds': [11, 8, 10, 6, 6, 5, 9, 12],
                   'blocks': [4, 7, 7, 6, 5, 8, 9, 10]})
print(mydataframe)
print("Select Columns by Index")
print(mydataframe.iloc[:,[1,3]])
print("Select Columns in Index Range")
print(mydataframe.iloc[:,1:3])      #  3 is exclusive
print("select columns by name")
print(mydataframe[["assists","blocks"]])

   points  assists  rebounds  blocks
0      25        5        11       4
1      12        7         8       7
2      15        7        10       7
3      14        9         6       6
4      19       12         6       5
5      23        9         5       8
6      25        9         9       9
7      29        4        12      10
Select Columns by Index
   assists  blocks
0        5       4
1        7       7
2        7       7
3        9       6
4       12       5
5        9       8
6        9       9
7        4      10
Select Columns in Index Range
   assists  rebounds
0        5        11
1        7         8
2        7        10
3        9         6
4       12         6
5        9         5
6        9         9
7        4        12
select columns by name
   assists  blocks
0        5       4
1        7       7
2        7       7
3        9       6
4       12       5
5        9       8
6        9       9
7        4      10

Ex12

In [73]:
# more pandas functions
""" Using numeric_only=True causes df.mean() to ignore columns that contain non-numbers, and only calculate the mean for columns that only contain numbers. """

from pandas import *
pathiris = r"A:\CDAC_SM_VITA\4_Python\Day_7\Pandas\Examples\iris.csv"


iris=read_csv(pathiris)
print(iris.head())
print("\n")
print(iris.mean(numeric_only=True))
print("\n")
print(iris.median(numeric_only=True))
print("\n")
print(iris.min(numeric_only=True))
print("\n")
print(iris.max(numeric_only=True))

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa


sepal.length    5.843333
sepal.width     3.057333
petal.length    3.758000
petal.width     1.199333
dtype: float64


sepal.length    5.80
sepal.width     3.00
petal.length    4.35
petal.width     1.30
dtype: float64


sepal.length    4.3
sepal.width     2.0
petal.length    1.0
petal.width     0.1
dtype: float64


sepal.length    7.9
sepal.width     4.4
petal.length    6.9
petal.width     2.5
dtype: float64

Ex13

In [74]:
# how to read JSON file

from pandas import *

# mydataframe=read_json("myfile.json")
mydataframe=read_json(pathjson)

print(mydataframe)

     Name  Age   Address
0  Sachin   40    Mumbai
1   Rahul   45  Banglore

In [75]:
# For this to work , you need to install "xlrd"

# pip install xlrd

import pandas as pd
pathpandas = r'A:\CDAC_SM_VITA\4_Python\Day_7\Pandas\Examples\ForPandas.xlsx'
mydataframe1 = pd.read_excel(pathpandas)
 
print(mydataframe1)

print("\n\nLet's print Sheet2")
mydataframe1 = pd.read_excel(pathpandas,sheet_name='Sheet2')
print(mydataframe1)

     Name   address
0   Rohit    Mumbai
1  Viraat     Delhi
2  Ashwin   Chennai
3   Dhoni  Zarkhand


Let's print Sheet2
   Proname  price
0     soap    120
1  perfume    400
2      deo    300
3  hairoil    150

Ex14

In [76]:
import pandas as pd
 
proid = [1,2,3,4]
proname = ["Soap","Perfume","Deo","Body_Wash"]
price = [120,400,250,180]
 
# dictionary of lists
mydictionary = {'proid':proid,'proname':proname,'price':price}
     
mydataframe = pd.DataFrame(mydictionary)
 
print(mydataframe)
mydataframe.to_csv("prod.csv")
mydataframe.to_json("prod.json")

   proid    proname  price
0      1       Soap    120
1      2    Perfume    400
2      3        Deo    250
3      4  Body_Wash    180

Ex15

In [77]:
# install openpyxl

import pandas as pd
 
proid = [1,2,3,4]
proname = ["Soap","Perfume","Deo","Body_Wash"]
price = [120,400,250,180]
 
# dictionary of lists
mydictionary = {'proid':proid,'proname':proname,'price':price}
     
mydataframe = pd.DataFrame(mydictionary)
 
print(mydataframe)
# index=False   is not to include dataframe index inside the excel file
mydataframe.to_excel("prod.xlsx",sheet_name="prod_sheet",index=False)

   proid    proname  price
0      1       Soap    120
1      2    Perfume    400
2      3        Deo    250
3      4  Body_Wash    180

Ex16

In [81]:
# install openpyxl

# The ExcelWriter object allows you to use multiple pandas. DataFrame objects can be exported to separate sheets.

import pandas as pd
 
proid = [1,2,3,4]
proname = ["Soap","Perfume","Deo","Body_Wash"]
price = [120,400,250,180]
 
# dictionary of lists
mydictionary1 = {'proid':proid,'proname':proname,'price':price}
     
mydataframe1 = pd.DataFrame(mydictionary1)
 


name=['Abc','Xyz','Pqr']
designation=['officer','manager','salesexecutive']
salary=[40000,60000,70000]

mydictionary2={'name':name,'designation':designation,'salary':salary}

mydataframe2=pd.DataFrame(mydictionary2)

print(mydataframe1)
print("\n\n")
print(mydataframe2)

mydataframe1.to_excel("prod2.xlsx",sheet_name="prod_sheet",index=False)

mydataframe2.to_excel("prod2.xlsx",sheet_name="employee_sheet",index=False) # this will overwrite previous sheet

   proid    proname  price
0      1       Soap    120
1      2    Perfume    400
2      3        Deo    250
3      4  Body_Wash    180



  name     designation  salary
0  Abc         officer   40000
1  Xyz         manager   60000
2  Pqr  salesexecutive   70000

In [82]:
# pip install openpyxl

# The ExcelWriter object allows you to use multiple pandas. DataFrame objects can be exported to separate sheets.
import pandas as pd
 
proid = [1,2,3,4]
proname = ["Soap","Perfume","Deo","Body_Wash"]
price = [120,400,250,180]
 
# dictionary of lists
mydictionary1 = {'proid':proid,'proname':proname,'price':price}
     
mydataframe1 = pd.DataFrame(mydictionary1)
 


name=['Abc','Xyz','Pqr']
designation=['officer','manager','salesexecutive']
salary=[40000,60000,70000]

mydictionary2={'name':name,'designation':designation,'salary':salary}

mydataframe2=pd.DataFrame(mydictionary2)

print(mydataframe1)
print("\n\n")
print(mydataframe2)

with pd.ExcelWriter('Prod1.xlsx') as mywriter:
    mydataframe1.to_excel(mywriter, sheet_name='prod_sheet',index=False)
    mydataframe2.to_excel(mywriter, sheet_name='employee_sheet',index=False)

   proid    proname  price
0      1       Soap    120
1      2    Perfume    400
2      3        Deo    250
3      4  Body_Wash    180



  name     designation  salary
0  Abc         officer   40000
1  Xyz         manager   60000
2  Pqr  salesexecutive   70000

# **Sort Pandas**

Ex1

In [84]:
 # Series object is a one-dimensional labelled or indexed  array

import pandas as pd

first=pd.Series([100,20,3,40,5])
print(first)
print("sorting Pandas values without indexes changed")
print(first.sort_values())
print("sorting Pandas values with indexes changed")
print(first.sort_values(ignore_index=True))
print("sorting in descending order ,Pandas values with indexes changed")
print(first.sort_values(ascending=False,ignore_index=True))

0    100
1     20
2      3
3     40
4      5
dtype: int64
sorting Pandas values without indexes changed
2      3
4      5
1     20
3     40
0    100
dtype: int64
sorting Pandas values with indexes changed
0      3
1      5
2     20
3     40
4    100
dtype: int64
sorting in descending order ,Pandas values with indexes changed
0    100
1     40
2     20
3      5
4      3
dtype: int64

Ex2

In [85]:
# DataFrame is a two dimensional labelled data structure
# DataFrame comprises of rows and columns

from pandas import *

mydict={"Name":['Sachin','Rahul','Anil'],"Age":[39,35,38]}
print(mydict)
mydataframe=DataFrame(mydict)
print(mydataframe)
print("Age-wise ascending sort")
print(mydataframe.sort_values(by="Age",ignore_index=True))
print("Age-wise descending sort")
print(mydataframe.sort_values(by="Age",ascending=False,ignore_index=True))
print("Name-wise ascending sort")
print(mydataframe.sort_values(by="Name",ignore_index=True))
print("Name-wise descending sort")
print(mydataframe.sort_values(by="Name",ascending=False,ignore_index=True))

{'Name': ['Sachin', 'Rahul', 'Anil'], 'Age': [39, 35, 38]}
     Name  Age
0  Sachin   39
1   Rahul   35
2    Anil   38
Age-wise ascending sort
     Name  Age
0   Rahul   35
1    Anil   38
2  Sachin   39
Age-wise descending sort
     Name  Age
0  Sachin   39
1    Anil   38
2   Rahul   35
Name-wise ascending sort
     Name  Age
0    Anil   38
1   Rahul   35
2  Sachin   39
Name-wise descending sort
     Name  Age
0  Sachin   39
1   Rahul   35
2    Anil   38

# **Data Wrangling**

>Data Wrangling is the process of gathering, collecting, and transforming Raw data into another format for better understanding, decision-making, accessing, and analysis in less time. Data Wrangling is also known as Data Munging.

>Data wrangling in Python deals with the below functionalities:

>>Data exploration: In this process, the data is studied, analyzed, and understood by visualizing representations of data.
Dealing with missing values: Most of the datasets having a vast amount of data contain missing values of NaN, they are needed to be taken care of by replacing them with mean, mode, the most frequent value of the column, or simply by dropping the row having a NaN value.
>>Reshaping data: In this process, data is manipulated according to the requirements, where new data can be added or pre-existing data can be modified.
>>Filtering data: Some times datasets are comprised of unwanted rows or columns which are required to be removed or filtered.

>>Data wrangling involves processing the data in various formats like - merging, grouping, concatenating etc. for the purpose of analysing or getting them ready to be used with another set of data.

Ex1

In [89]:
"""
scenario

duplicate registration done by students, we need to remove the names which have been registered more than once.

"""

student_data = {'Name': ['Sachin', 'Praveen', 'Jagruti',
                         'Sharath', 'Vishal', 'Suraj',
                         'Rohit', 'Satyapal', 'Sachin',
                         'Sharath', 'Suraj', 'Sachin'],

                'Prn_No': [23, 54, 29, 36, 59, 38,
                            12, 45, 34, 36, 38, 23],
                'Email': ['xxxx@gmail.com', 'xxxxxx@gmail.com',
                          'xxxxxx@gmail.com', 'xx@gmail.com',
                          'xxxx@gmail.com', 'xxxxx@gmail.com',
                          'xxxxx@gmail.com', 'xxxx@gmail.com',
                          'xxxxx@gmail.com', 'xx@gmail.com',
                          'xxxxx@gmail.com', 'xxxx@gmail.com']}
from pandas import *
# creating dataframe
df = DataFrame(student_data)
print("\noriginal data set is \n")
print(df)
# Here df.duplicated() list duplicate  Entries in ROllno.
# So that ~(NOT) is placed in order to get non duplicate values.
non_duplicate = df[~df.duplicated('Prn_No')]
print("\n dataset after removing duplicates is\n")
# printing non-duplicate values
print(non_duplicate)

original data set is

        Name  Prn_No             Email
0     Sachin      23    xxxx@gmail.com
1    Praveen      54  xxxxxx@gmail.com
2    Jagruti      29  xxxxxx@gmail.com
3    Sharath      36      xx@gmail.com
4     Vishal      59    xxxx@gmail.com
5      Suraj      38   xxxxx@gmail.com
6      Rohit      12   xxxxx@gmail.com
7   Satyapal      45    xxxx@gmail.com
8     Sachin      34   xxxxx@gmail.com
9    Sharath      36      xx@gmail.com
10     Suraj      38   xxxxx@gmail.com
11    Sachin      23    xxxx@gmail.com

 dataset after removing duplicates is

       Name  Prn_No             Email
0    Sachin      23    xxxx@gmail.com
1   Praveen      54  xxxxxx@gmail.com
2   Jagruti      29  xxxxxx@gmail.com
3   Sharath      36      xx@gmail.com
4    Vishal      59    xxxx@gmail.com
5     Suraj      38   xxxxx@gmail.com
6     Rohit      12   xxxxx@gmail.com
7  Satyapal      45    xxxx@gmail.com
8    Sachin      34   xxxxx@gmail.com

Ex2

In [91]:
import pandas as pd

# Creating Data
CDAC_Placement_data = {'Center': ['VITA', 'VITA', 'VITA',
                              'VITA', 'MET', 'YCP',
                              'Khaarghar', 'CDAC_Juhu', 'CDAC_Juhu',
                              ],
                    'Year': [2020, 2021, 2022, 2019,
                             2020, 2022, 2020, 2019,
                             2020],
                    'Placement_ratio': [96, 99, 92, 99, 95, 85,
                             92, 88, 87]}

# Creating Dataframe for Provided Data
df = pd.DataFrame(CDAC_Placement_data)
print("original dataframe")
print(df)
print("\ngroup by year\n")
# Group the data when year = 2010
grouped = df.groupby('Year')
print(grouped.get_group(2020))

original dataframe
      Center  Year  Placement_ratio
0       VITA  2020               96
1       VITA  2021               99
2       VITA  2022               92
3       VITA  2019               99
4        MET  2020               95
5        YCP  2022               85
6  Khaarghar  2020               92
7  CDAC_Juhu  2019               88
8  CDAC_Juhu  2020               87

group by year

      Center  Year  Placement_ratio
0       VITA  2020               96
4        MET  2020               95
6  Khaarghar  2020               92
8  CDAC_Juhu  2020               87

Ex3

In [92]:
import pandas as pd

# Creating Dataframe
students_data = pd.DataFrame({
    'Prn_No': [101, 102, 103, 104, 105,
           106, 107, 108, 109, 110],
    'NAME': ['Jagruti', 'Pavan', 'Harish',
             'Pooja', 'Rahul', 'Niharika',
             'Sachin', 'Atul', 'Dean', "Manish"],
    'course': ['DAC', 'DBDA', 'DBDA', 'DBDA', 'DBDA',
               'DAC', 'DAC', 'DAC', 'DBDA', 'DBDA']})

# Creating Dataframe
placement_details = pd.DataFrame(
    {'Prn_No': [101, 102, 103, 104, 105,
            106, 107, 108, 109, 110],
     'status': ['placed', 'not_placed', 'placed',
                 'placed', 'not_placed', 'not_placed',
                 'placed', 'not_placed', 'placed', 'placed']})

# Merging Dataframe
print(pd.merge(students_data, placement_details, on='Prn_No'))

   Prn_No      NAME course      status
0     101   Jagruti    DAC      placed
1     102     Pavan   DBDA  not_placed
2     103    Harish   DBDA      placed
3     104     Pooja   DBDA      placed
4     105     Rahul   DBDA  not_placed
5     106  Niharika    DAC  not_placed
6     107    Sachin    DAC      placed
7     108      Atul    DAC  not_placed
8     109      Dean   DBDA      placed
9     110    Manish   DBDA      placed

Ex4

In [93]:
import pandas as pd

# Creating Dataframe
students_data = pd.DataFrame({
    'Prn_No': [101, 102, 103, 104, 105,
           106, 107, 108, 109, 110],
    'NAME': ['Jagruti', 'Pavan', 'Harish',
             'Pooja', 'Rahul', 'Niharika',
             'Sachin', 'Atul', 'Dean', "Manish"],
    'course': ['DAC', 'DBDA', 'DBDA', 'DBDA', 'DBDA',
               'DAC', 'DAC', 'DAC', 'DBDA', 'DBDA'],
    'project_marks': [94,82,75,98,65,58,73,63,90,72]
})

print(students_data)

   Prn_No      NAME course  project_marks
0     101   Jagruti    DAC             94
1     102     Pavan   DBDA             82
2     103    Harish   DBDA             75
3     104     Pooja   DBDA             98
4     105     Rahul   DBDA             65
5     106  Niharika    DAC             58
6     107    Sachin    DAC             73
7     108      Atul    DAC             63
8     109      Dean   DBDA             90
9     110    Manish   DBDA             72

In [94]:

students_data = students_data.rename(columns={'project_marks': 'Project_grade'})
print(students_data)
grade=""
for marks in students_data["Project_grade"]:
    if marks>=90:
        grade='A'
    elif marks>70 and marks<90:
        grade='B'
    else:
        grade='C'
    students_data["Project_grade"]=students_data["Project_grade"].replace({marks:grade})

print(students_data)

   Prn_No      NAME course  Project_grade
0     101   Jagruti    DAC             94
1     102     Pavan   DBDA             82
2     103    Harish   DBDA             75
3     104     Pooja   DBDA             98
4     105     Rahul   DBDA             65
5     106  Niharika    DAC             58
6     107    Sachin    DAC             73
7     108      Atul    DAC             63
8     109      Dean   DBDA             90
9     110    Manish   DBDA             72
   Prn_No      NAME course Project_grade
0     101   Jagruti    DAC             A
1     102     Pavan   DBDA             B
2     103    Harish   DBDA             B
3     104     Pooja   DBDA             A
4     105     Rahul   DBDA             C
5     106  Niharika    DAC             C
6     107    Sachin    DAC             B
7     108      Atul    DAC             C
8     109      Dean   DBDA             A
9     110    Manish   DBDA             B

Ex5

In [95]:
import pandas as pd

# Sample DataFrame
data = {'Technology': ['Python', 'Java', 'DotNet', 'ML'],
        'Project_grades': ['A', 'B', 'A', 'B'],
        'No_of_students': [10, 15, 20, 25]}

df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Create a pivot table
pivot_table = df.pivot_table(index='Technology', columns='Project_grades', values='No_of_students', aggfunc='sum')
value=['A','B']
pivot_table=pivot_table.fillna(0)  # try without this
pivot_table[value] = pivot_table[value].astype(int) # try without this

# Display the pivot table
print("\nPivot Table:")
print(pivot_table)

Original DataFrame:
  Technology Project_grades  No_of_students
0     Python              A              10
1       Java              B              15
2     DotNet              A              20
3         ML              B              25

Pivot Table:
Project_grades   A   B
Technology
DotNet          20   0
Java             0  15
ML               0  25
Python          10   0

# **Filtering**

In [ ]:
import pandas as pd
import re

proid = [1, 2, 3, 4]
proname = ["Soap", "Perfume", "Deo", "Body_Wash"]
price = [120, 400, 250, 180]

# dictionary of lists
mydictionary1 = {'proid': proid, 'proname': proname, 'price': price}

mydataframe1 = pd.DataFrame(mydictionary1)
print(mydataframe1)
print("without index ************************")
print(mydataframe1.to_string(index=False))

In [96]:

print("\nproducts where price more than 200\n")
print(mydataframe1[mydataframe1.price > 200].to_string(index=False))

products where price more than 200

 proid proname  price
     2 Perfume    400
     3     Deo    250

In [97]:

print("\nproducts where price is between 200 and 300\n")
print(mydataframe1[(mydataframe1.price >= 200) & (mydataframe1.price <= 300)].to_string(index=False))

print("\nproducts where name is Soap or Deo\n")
pronames = ['Soap', 'Deo']
print(mydataframe1[mydataframe1.proname.isin(pronames)].to_string(index=False))  # case sensitive

print("\nproducts where name is neither Soap nor Deo\n")
pronames = ['Soap', 'Deo']
print(mydataframe1[~mydataframe1.proname.isin(pronames)].to_string(index=False))  # case sensitive

print("\nproducts where name is  Soap or Deo with ignore case\n")
pronames = ['soAp', 'dEo']
print(mydataframe1[mydataframe1.proname.str.fullmatch('soAp|deO', case=False)])

print("\nproducts where name is  Soap or Deo with case\n")

print(mydataframe1[mydataframe1.proname.str.fullmatch('soAp|deO')])

print("\nProducts start with D\n")

print(mydataframe1[mydataframe1.proname.str.startswith('D')])

print("\nProducts start with d case sensitive\n")
print(mydataframe1[mydataframe1.proname.str.casefold().str.startswith('d')])

print("\nproducts which contains e \n")
print(mydataframe1[mydataframe1.proname.str.contains('e')])

print("\nproducts with the largest values\n")
# print(mydataframe1.nlargest(2,'price'))   # 2 rows in descending order of price

print(mydataframe1.nlargest(1, 'price'))  # 1 row in descending order of price

print("\nproducts with the smallest value\n")
print(mydataframe1.nsmallest(2, 'price'))  # 2 rows in ascending order of price

products where price is between 200 and 300

 proid proname  price
     3     Deo    250

products where name is Soap or Deo

 proid proname  price
     1    Soap    120
     3     Deo    250

products where name is neither Soap nor Deo

 proid   proname  price
     2   Perfume    400
     4 Body_Wash    180

products where name is  Soap or Deo with ignore case

   proid proname  price
0      1    Soap    120
2      3     Deo    250

products where name is  Soap or Deo with case

Empty DataFrame
Columns: [proid, proname, price]
Index: []

Products start with D

   proid proname  price
2      3     Deo    250

Products start with d case sensitive

   proid proname  price
2      3     Deo    250

products which contains e

   proid  proname  price
1      2  Perfume    400
2      3      Deo    250

products with the largest values

   proid  proname  price
1      2  Perfume    400

products with the smallest value

   proid    proname  price
0      1       Soap    120
3      4  Body_Wash    180